/* html */
html, body {
  color: rgba(255, 255, 255, 0.8);
  background: url("../images/glow.png") no-repeat scroll center center #0D7BD5;
}

body {
  margin: 60px 0;
}

.form-sign {
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 0 auto 20px;
  padding: 19px 9px 29px;
}

.form-sign .error {
  color: #FD482C;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background: 0 50%;
}

.form-sign input[type=text],
.form-sign input[type=file],
.form-sign input[type=password],
.form-sign input[type=email],
.form-sign select {
  border: 1px solid #DCDEE0;
  vertical-align: middle;
  border-radius: 3px;
  padding: 0px 16px;
  font-size: 16px;
  color: #555555;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.form-sign input[type=text]:focus,
.form-sign input[type=file]:focus,
.form-sign input[type=password]:focus,
.form-sign input[type=email]:focus,
.form-sign select:focus {
  border: 1px solid #27A9E3;
}

.form-sign input[type=submit],
.form-sign input[type=button] {
  display: inline-block;
  padding: 8px 24px;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: #ffffff;
  background-color: #ea5200;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
  outline: none;
  width: 100%;
}

.layui-layer-dialog .layui-layer-content {
  color: #000;
}

.background {
  background: url("../images/login/wait.gif") no-repeat scroll center 30% #000000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
  opacity: 0.8;
}