@charset "utf-8";
/* CSS Document */
/*--------------------------------公共-----------------------------------*/
.left { float: left; }
.right { float: right; }
.site-doc-icon {margin-bottom: 50px; font-size: 0;}
.site-doc-icon li {display: inline-block; vertical-align: middle; width: 200px; height: auto; line-height: 25px; padding: 20px 0; margin-right: -1px; margin-bottom: -1px; border: 1px solid #e2e2e2; font-size: 14px; text-align: center; color: #666; transition: all .3s; -webkit-transition: all .3s;}
.site-doc-icon li:hover {background-color: #f2f2f2; color: #000;}
.site-doc-icon li .layui-anim {width: 150px; height: 150px; line-height: 150px; margin: 0 auto 10px; text-align: center; background-color: #009688; cursor: pointer; color: #fff; border-radius: 50%;}

/*提示、背景*/
.background {position:fixed; bottom:0; left:0; right:0; top:0; opacity:0.8; background:url("../images/login/wait.gif") no-repeat scroll center 30% #000000; z-index:1060;}

.tab-popup-menu { position: absolute; width: 120px; line-height: 24px; z-index: 999; background: #FFF; border: 1px solid #F2F2F2; border-bottom: none; border-radius: 3px; display: none; }
.tab-popup-menu li { display: block; padding: 4px 10px; color: #666; border-bottom: 1px solid #F2F2F2; }
.tab-popup-menu li:hover { background: #EEE; color: #222; }

/*--------------------------------菜单-----------------------------------*/
.mycuckoo-container .layui-header { background-color: #563d7c; }
.mycuckoo-container .sidebar-open { height: 45px; float: left; }
.mycuckoo-container .sidebar-open i { display: block; background: rgba(255, 255, 255, 0.1) 0 0 no-repeat; color: #fff; width: 32px; height: 32px; line-height: 32px; border-radius: 3px; text-align: center; margin: 15px; cursor: pointer; }
.mycuckoo-container .sidebar-open i:hover { background: rgba(255, 255, 255, 0.3) 0 0 no-repeat; }
.mycuckoo-container .layui-side { width: 220px; }
.layui-side .layui-nav { position: absolute; top: 0px; bottom: 42px; left: 0; z-index: 2; padding-top: 10px; background-color: #EEE; width: 220px; max-width: 220px; overflow: auto; overflow-x: hidden; border-right: 1px solid #e5e5e5; }
.layui-side .layui-nav .layui-nav-item a { color: #555; }
.layui-side .layui-nav .layui-nav-item a:hover, .layui-side .layui-nav .layui-this a { color:#000; }
.layui-side .layui-nav .layui-nav-item { border-bottom: 1px solid #ddd; }
.layui-side .layui-nav .layui-nav-item:hover > a { color: #333; }
.layui-side .layui-nav .layui-nav-item a { font-size: 14px; padding: 4px 15px 4px 20px; display: block; cursor: pointer; }
.layui-side .layui-nav .layui-nav-item > a:hover { background-color: #999; }
.layui-side .layui-nav .layui-nav-itemed > a { color: #444 !important; }
.layui-side .layui-nav .layui-nav-itemed:hover { background: #fff 0 0 no-repeat; }
.layui-side .layui-nav .layui-nav-item > .layui-nav-child { background-color: rgba(255, 255, 255, 0.3) !important; }
.layui-side .layui-nav .layui-nav-item > .layui-nav-child:hover { color: blue; background: #fff 0 0 no-repeat; }
.layui-side .layui-nav .layui-nav-item > .layui-nav-child a { padding: 12px 15px 12px 30px; font-size: 14px; color: #333; cursor: pointer; }
.layui-side .layui-nav .layui-nav-item > .layui-nav-child a:hover { color: #999; }

/*--------------------------------tab-----------------------------------*/
.mycuckoo-container .layui-body { position: absolute; top: 60px; right: 0; bottom: 42px; left: 221px; overflow: hidden; z-index: 1; }
.mycuckoo-body-bg { position: absolute; top: 46px; right: 0; bottom: 42px; left: 221px; background: rgba(0, 0, 0, 0.5) 0 0 no-repeat; overflow: hidden; z-index: 100; display: none; }
.mycuckoo-body .layui-tab { height: 100%; width: 100%; background: #EFEEF0 0 0 no-repeat; margin: 0px; }
.mycuckoo-body .layui-tab-title { height: 35px; background: #EFEEF0 0 0 no-repeat; position: relative; z-index: 100; }
.mycuckoo-body .layui-tab-title li { line-height: 35px; }
.mycuckoo-body .layui-tab-title li .layui-tab-close { border-radius: 50%; }
.mycuckoo-body .layui-tab-title .layui-this { background: #fff 0 0 no-repeat; }
.mycuckoo-body .layui-tab-title .layui-this:after { height: 36px; }
.mycuckoo-body .layui-tab-content { position: absolute; top: 36px; bottom: 0px; width: 100%; background: #fff 0 0 no-repeat; padding: 0px; overflow: hidden; }
.mycuckoo-body .layui-tab-content .layui-tab-item { width: 100%; height: 100%; }
.mycuckoo-body .layui-tab-content .layui-tab-item iframe { width: 100%; height: 100%; }
@media screen and (max-width: 768px) {
  .mycuckoo-body { left: 0px; }
  .mycuckoo-body .layui-tab-content .layui-tab-item { -webkit-overflow-scrolling: touch; overflow-y: scroll; }
  .mycuckoo-search .layui-input { width: 100%; margin: 6px; }
}

/*--------------------------------站内导航-----------------------------------*/
.mycuckoo-site-nav { position: relative; padding: 0 20px; z-index: 99; border-bottom: 1px solid #e5e5e5; height: 39px; line-height: 39px; overflow: hidden; }

/*--------------------------------内容-----------------------------------*/
.mycuckoo-main { padding: 8px; }
.mycuckoo-search { margin-bottom: 8px; }
.mycuckoo-search .layui-input { width: 190px; }
/*双向选择列表*/
.select-side {float:left; width:240px; }
.select-side .select-side-body {width: 220px; height:320px; /*border: 1px solid #0088CC; */ border: 1px solid #dddddd; overflow-y: auto;}
.select-opt {float:left; width:30px; height:100%; margin-top:46px;}
.select-opt p {width:26px; height:26px; margin-top:6px; background:url(../images/form/arr.gif) no-repeat; cursor:pointer; text-indent:-999em;}
.select-opt p.to-right {background-position:2px 0;}
.select-opt p.to-left {background-position:2px -22px;}

/*--------------------------------导航条-----------------------------------*/
.help {background:url(../images/navigate/help.png) no-repeat scroll 0 50% transparent;}
.change-skin {background:url(../images/navigate/change-skin.png) no-repeat scroll 0 50% transparent;}
.skin-selected-icon {background:url(../images/navigate/skin-selected.png) no-repeat scroll 0 50% transparent;}
.user-edit {background:url(../images/navigate/user-edit.png) no-repeat scroll 0 50% transparent;}
.platform {background:url(../images/navigate/platform.png) no-repeat scroll 0 50% transparent;}
.uum {background:url(../images/navigate/uum.png) no-repeat scroll 0 50% transparent;}
.portal {background:url(../images/navigate/portal.png) no-repeat scroll 0 50% transparent;}
.qq-icon {background:url(../images/navigate/qq.png) no-repeat scroll 0 50% transparent;}
.logout {background:url(../images/navigate/logout.png) no-repeat scroll 0 50% transparent;}

/*--------------------------------菜单栏-----------------------------------*/
/*---------------------------------系统-----------------------------------*/
.home-icon {background:url(../images/menu/home.png) no-repeat scroll 0 50% transparent;}
.platform-icon {background:url(../images/menu/platform.png) no-repeat scroll 0 50% transparent;}
.uum-icon {background:url(../images/menu/uum.png) no-repeat scroll 0 50% transparent;}
.used-function-icon {background:url(../images/menu/used-function.png) no-repeat scroll 0 50% transparent;}
.used-function-main-icon {background:url(../images/menu/used-function-main.png) no-repeat scroll 0 50% transparent;}
.frame-mgr-icon {background:url(../images/menu/frame-mgr.png) no-repeat scroll 0 50% transparent;}
.affiche-mgr-icon {background:url(../images/menu/affiche-mgr.png) no-repeat scroll 0 50% transparent;}
.module-operate-icon {background:url(../images/menu/module-operate.png) no-repeat scroll 0 50% transparent;}
.dictionary-mgr-icon {background:url(../images/menu/dictionary-mgr.png) no-repeat scroll 0 50% transparent;}
.type-dictionary-mgr-icon {background:url(../images/menu/type-dictionary-mgr.png) no-repeat scroll 0 50% transparent;}
.page-dictinary-mgr-icon {background:url(../images/menu/page-dictionary-mgr.png) no-repeat scroll 0 50% transparent;}
.system-mgr-icon {background:url(../images/menu/system-mgr.png) no-repeat scroll 0 50% transparent;}
.code-mgr-icon {background:url(../images/menu/code-mgr.png) no-repeat scroll 0 50% transparent;}
.scheduler-mgr-icon {background:url(../images/menu/scheduler-mgr.png) no-repeat scroll 0 50% transparent;}
.district-mgr-title-icon {background:url(../images/menu/district-mgr.png) no-repeat scroll 0 50% transparent;}
.district-mgr-icon {background:url(../images/menu/district-mgr.png) no-repeat scroll 0 50% transparent;}
.system-parameter-mgr-icon {background:url(../images/menu/system-parameter-mgr.png) no-repeat scroll 0 50% transparent;}
.db-backup-mgr-title-icon {background:url(../images/menu/db-backup-mgr.png) no-repeat scroll 0 50% transparent;}
.db-backup-mgr-icon {background:url(../images/menu/db-backup-mgr.png) no-repeat scroll 0 50% transparent;}
.log-mgr-icon {background:url(../images/menu/log-mgr.png) no-repeat scroll 0 50% transparent;}
.system-log-mgr-icon {background:url(../images/menu/system-log-mgr.png) no-repeat scroll 0 50% transparent;}
.system-config-mgr-icon {background:url(../images/menu/system-config-mgr.png) no-repeat scroll 0 50% transparent;}
.page-function-icon {background:url(../images/menu/page-function.png) no-repeat scroll 0 50% transparent;}
.page-pattern-icon {background:url(../images/menu/page-pattern.png) no-repeat scroll 0 50% transparent;}
.module-mgr-icon {background:url(../images/menu/module-mgr.png) no-repeat scroll 0 50% transparent;}
.operate-mgr-icon {background:url(../images/menu/operate-mgr.png) no-repeat scroll 0 50% transparent;}
.right-key-close-tab-icon {background:url(../images/menu/right-key-close-tab.png) no-repeat scroll 0 50% transparent;}
/*---------------------------------统一用户-----------------------------------*/
.organ-mgr-title-icon {background:url(../images/menu/organ-mgr.png) no-repeat scroll 0 50% transparent;}
.organ-mgr-icon {background:url(../images/menu/organ-mgr.png) no-repeat scroll 0 50% transparent;}
.role-mgr-title-icon {background:url(../images/menu/role-mgr.png) no-repeat scroll 0 50% transparent;}
.role-mgr-icon {background:url(../images/menu/role-mgr.png) no-repeat scroll 0 50% transparent;}
.role-assign-mgr-icon {background:url(../images/menu/role-assign-mgr.png) no-repeat scroll 0 50% transparent;}
.user-mgr-title-icon {background:url(../images/menu/user-mgr.png) no-repeat scroll 0 50% transparent;}
.user-mgr-icon {background:url(../images/menu/user-mgr.png) no-repeat scroll 0 50% transparent;}
.user-name-icon {background:url(../images/menu/user-mgr.png) no-repeat scroll 0 50% transparent; background-color:#FFFFFF; padding-left:20px; font-weight:bold; color:#000033;}
.group-mgr-icon {background:url(../images/menu/group-mgr.png) no-repeat scroll 0 50% transparent;}
.user-group-mgr-icon {background:url(../images/menu/user-group-mgr.png) no-repeat scroll 0 50% transparent;}
.general-group-mgr-icon {background:url(../images/menu/general-group-mgr.png) no-repeat scroll 0 50% transparent;}
.role-group-mgr-icon {background:url(../images/menu/role-group-mgr.png) no-repeat scroll 0 50% transparent;}
.password-icon {background:url(../images/menu/privial-mgr.png) no-repeat scroll 0 50% transparent; background-color:#FFFFFF; padding-left:20px; font-weight:bold; color:#000033;}
.reset-pwd-icon {background:url(../images/menu/reset-pwd.png) no-repeat scroll 0 50% transparent;}
.row-privilege-mgr-icon {background:url(../images/menu/row-privilege-mgr.png) no-repeat scroll 0 50% transparent;}
.user-delete-icon {background:url(../images/menu/user-delete.png) no-repeat scroll 0 50% transparent;}
.email-go-icon {background:url(../images/menu/email-go.png) no-repeat scroll 0 50% transparent;}

/*-------------------------操作按钮---------------------------------------*/
.table-add-icon {background:url(../images/button/table-add.png) no-repeat scroll 0 50% transparent;}
.table-edit-icon {background:url(../images/button/table-edit.png) no-repeat scroll 0 50% transparent;}
.table-delete-icon {background:url(../images/button/table-delete.png) no-repeat scroll 0 50% transparent;}
.table-icon {background:url(../images/button/table.png) no-repeat scroll 0 50% transparent; margin: 0;}
.table-save-icon {background:url(../images/button/table-save.png) no-repeat scroll 0 50% transparent;}
.table-close-icon {background:url(../images/button/table-close.png) no-repeat scroll 0 50% transparent;}
.table-multiple-icon {background:url(../images/button/table-multiple.png) no-repeat scroll 0 50% transparent;}
.table-find-icon {background:url(../images/button/table-find.png) no-repeat scroll 0 50% transparent;}
.login-icon {background:url(../images/button/login.png) no-repeat scroll 0 50% transparent;}
.close-icon {background:url(../images/button/close.png) no-repeat scroll 0 50% transparent;}
.left-arrow-icon {background:url(../images/button/left-arrow.gif) no-repeat scroll 0 50% transparent;}
.right-arrow-icon {background:url(../images/button/right-arrow.gif) no-repeat scroll 0 50% transparent;}
.enable-icon {background:url(../images/button/enable.png) no-repeat scroll 0 50% transparent;}
.disable-icon {background:url(../images/button/disable.png) no-repeat scroll 0 50% transparent;}
.assign-icon {background:url(../images/button/assign.png) no-repeat scroll 0 50% transparent;}
.module-label-icon {background:url(../images/button/module-label.png) no-repeat scroll 0 50% transparent;}
.save-time-icon {background:url(../images/button/save-time.png) no-repeat scroll 0 50% transparent;}
.word-icon {background:url(../images/button/word.png) no-repeat scroll 0 50% transparent;}
.excel-icon {background:url(../images/button/excel.png) no-repeat scroll 0 50% transparent;}
.powerpoint-icon {background:url(../images/button/powerpoint.png) no-repeat scroll 0 50% transparent;}
.pdf-icon {background:url(../images/button/pdf.png) no-repeat scroll 0 50% transparent;}
.no-format-icon {background:url(../images/button/no-format.png) no-repeat scroll 0 50% transparent;}
.scheduler-start-icon {background:url(../images/button/scheduler-start.png) no-repeat scroll 0 50% transparent;}
.scheduler-stop-icon {background:url(../images/button/scheduler-stop.png) no-repeat scroll 0 50% transparent;}
.job-start-icon {background:url(../images/button/job-start.png) no-repeat scroll 0 50% transparent;}
.job-stop-icon {background:url(../images/button/job-stop.png) no-repeat scroll 0 50% transparent;}