<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>统一用户</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.13/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-site-nav">
    <span class="layui-breadcrumb">
      <a href="javascript:;">我的桌面</a>
      <a><cite>机构</cite></a>
    </span>
    <span class="right">
      <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
      </a>
    </span>
</div>

<div class="mycuckoo-main">
  <div class="layui-row">
    <form class="layui-col-md12 layui-form mycuckoo-search">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input class="layui-input" name="q[name]" placeholder="机构简称">
        </div>
        <div class="layui-input-inline">
          <input class="layui-input" name="q[code]" placeholder="机构代码">
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" lay-filter="search" lay-submit>
            <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <table id="ID_table" class="layui-hide" lay-filter="table"></table>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.13/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_toolbar">
  <div class="layui-btn-group btn-toolbar">
    {{# layui.each(d.operator, function(index, item) {
      if ((item.group & 2) !== 2) return;
    }}
    <button class="layui-btn layui-btn-sm" lay-event="{{ item.code }}">
      <i class="layui-icon layui-icon-{{ item.iconCls }}"></i> {{ item.name }}
    </button>
    {{# }); }}
  </div>
</script>
<script type="text/html" id="ID_tool">
  <div class="layui-clear-space">
    {{#
      var i = 0;
      var count = 0;
      layui.each(d.LAY_COL.operator, function(index, item) {
        if ((item.group & 4) === 4) {
          count++;
        }
      });

      layui.each(d.LAY_COL.operator, function(index, item) {
        if ((item.group & 4) !== 4) {
          return;
        } else if (i === 0) {
          i++;
    }}
    <a class="layui-btn layui-btn-xs" lay-event="{{ item.code }}">
      <i class="layui-icon layui-icon-{{ item.iconCls }}"></i> {{ item.name }}
    </a>
    {{#
        } else if (i === 1) {
          i++;
    }}
    <a class="layui-btn layui-btn-xs" lay-event="more">更多
      <i class="layui-icon layui-icon-down"></i>
    </a>
    {{#
        }
      });
    }}
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'form', 'dropdown', 'table'], function() {
    var $ = layui.jquery,
      form = layui.form,
      dropdown = layui.dropdown,
      table = layui.table;

    //本地缓存数据
    var queryObj = MyCuckoo.getQueryObject(location.search);
    var operator = MyCuckoo.getOperation(queryObj.id);
    var operatorMap = MyCuckoo.getDictMap(operator);
    var action = operator.findLast(o => (o['group'] & 1) === 1);

    var treeTable = table.render({
      id: 'table',
      elem: '#ID_table',
      url: MyCuckoo.api.host + action.path,
      method: action.method,
      cellMinWidth: 100,
      height: MyCuckoo.tableHeight,
      toolbar: '#ID_toolbar',
      operator: operator,
      cols: [[
        {type: 'numbers'},
        {type: 'radio'},
        {field: 'simpleName', title: '机构简称'},
        {field: 'code', title: '机构代码'},
        {field: 'address1', title: '联系地址1'},
        {field: 'tel1', title: '联系电话1'},
        {field: 'beginDate', title: '成立日期'},
        {field: 'status', title: '机构状态',
          templet: function(d) {
            if(d.status == 'enable') {
              return '启用';
            } else if(d.status == 'disable') {
              return '停用';
            }
          }
        },
        {field: 'createTime', title: '创建日期', sort: true},
        {fixed: "right", title: "操作", align: "center", width: 120, toolbar: '#ID_tool', operator: operator}
      ]],
      page: true,
      request: {
        pageName: 'pageNo',
        limitName: 'pageSize'
      },
      where: {
        pageSize: 1000,
      },
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.msg,
          count: res.data.totalElements,
          data: res.data.content
        }
      },
      done: function(res, curr, count) {
        new IndexMgr();
      }
    });

    var indexMgrInst = null;
    var IndexMgr = function () {
      if (indexMgrInst) { //实例已存在
        return;
      }
      var that = indexMgrInst = this;

      form.on('submit(search)', function(data) {
        //执行重载
        table.reload('table', {
          page: {pageNo: 1},
          where: data.field
        });

        return false;
      });

      //单元格工具事件
      table.on('tool(table)', function (obj) {
        obj.elem = this;
        that['execute'](obj);
      });

      table.on('toolbar(table)', function (obj) {
        if (obj.event.indexOf('LAYTABLE_') == 0) {
          return;
        }
        if (obj.event.endsWith('add')) {
          that['execute'](obj);
          return;
        }

        var data = table.checkStatus(obj.config.id).data;
        if (data.length != 1) {
          MyCuckoo.alert({title: '提示', msg: '请选择一条记录'});
          return;
        }

        obj.data = data[0];
        that['execute'](obj);
      });
    }

    IndexMgr.prototype = {
      constructor: IndexMgr,
      execute: function(obj) {
        var arr = obj.event.split(':');
        var event = arr[arr.length - 1];

        if (!this[event]) {
          MyCuckoo.alert({title : '警示', msg : '此操作无效, 如有疑问, 请联系管理员!' });
          return;
        }

        this[event](obj);
      },
      reload: function() {
        table.reload('table', { page: { pageNo: 1 } });
      },
      //增加
      add: function(obj) {
        var url = MyCuckoo.resolve('organMgrForm.html?action={action}&opt={opt}',
            {'action': obj.event, 'opt': queryObj.id})
        MyCuckoo.dialog('机构信息', url);
      },
      //修改
      modify: function(obj) {
        var data = obj.data;
        var url = MyCuckoo.resolve('organMgrForm.html?action={action}&opt={opt}&id={id}',
            {'action': obj.event, 'opt': queryObj.id, 'id': data.orgId})
        MyCuckoo.dialog('机构信息', url);
      },
      //查看
      view: function(obj) {
        var data = obj.data;
        var url = MyCuckoo.resolve('organMgrForm.html?action={action}&opt={opt}&id={id}',
            {'action': obj.event, 'opt': queryObj.id, 'id': data.orgId})
        MyCuckoo.sideDialog('机构信息', url);
      },
      //启用
      enable: function(obj) {
        var data = obj.data;
        if(data.status == 'enable') {
          MyCuckoo.msg({ msg : '此机构已经启用' });
          return;
        }

        var that = this;
        $.request(operatorMap[obj.event], {id: data.orgId, disEnableFlag: 'enable'}).then(json => {
          MyCuckoo.msg({ msg: '机构启用成功' });

          that.reload();
        });
      },
      //停用
      disable: function(obj) {
        var data = obj.data;
        if(data.status == 'disable') {
          MyCuckoo.alert({ title : '提示', msg : '此机构已经停用' });
          return;
        }

        var that = this;
        MyCuckoo.confirm({msg : '您确认停用此机构吗.', ok : function() {
          $.request(operatorMap[obj.event], {id: data.orgId, disEnableFlag: 'disable'}).then(function(json) {
            MyCuckoo.msg({ msg: '机构停用成功' });

            that.reload();
          });
        }});
      }
    }
    // the end
  });
</script>
</html>