<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>机构信息</title>
  <link type="image/x-icon" href="../../public/static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../public/static/layui/2.4.3/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../public/static/css/mycuckoo.css" rel="stylesheet" />
  <link type="text/css" href="../../public/static/css/eleTree.css" rel="stylesheet" />
</head>
<body>
  <div class="mycuckoo-main">
    <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
      <input type="hidden" name="orgId" />
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">机构简称</label>
          <div class="layui-input-inline">
            <input type="text" name="orgSimpleName" class="layui-input" autocomplete="off" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">机构全称</label>
          <div class="layui-input-inline">
            <input type="text" name="orgFullName" class="layui-input" autocomplete="off" />
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">机构代码</label>
          <div class="layui-input-inline">
            <input type="text" name="orgCode" class="layui-input" autocomplete="off" lay-verify="alphanumeric" maxlength="10" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">所属地区</label>
          <div class="layui-input-inline">
            <input type="hidden" name="orgBelongDist" />
            <input type="text" name="orgBelongDistName" class="layui-input" autocomplete="off" />
          </div>
          <a class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" data-type="selectBelongDist">
            <i class="layui-icon layui-icon-search"></i>
          </a>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">联系地址1</label>
          <div class="layui-input-inline">
            <input type="text" name="orgAddress1" class="layui-input" autocomplete="off" maxlength="100" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">联系地址2</label>
          <div class="layui-input-inline">
            <input type="text" name="orgAddress2" class="layui-input" autocomplete="off" maxlength="100" />
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">联系电话1</label>
          <div class="layui-input-inline">
            <input type="text" name="orgTel1" class="layui-input" autocomplete="off" lay-verify="phone" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">联系电话2</label>
          <div class="layui-input-inline">
            <input type="text" name="orgTel2" class="layui-input" autocomplete="off" lay-verify="phone" />
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">成立日期</label>
          <div class="layui-input-inline">
            <input type="text" id="orgBeginDate" name="orgBeginDate" class="layui-input" placeholder="yyyy-MM-dd" autocomplete="off" lay-verify="date" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">机构类型</label>
          <div class="layui-input-inline">
            <select name="orgType" lay-verify="required">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">机构邮编</label>
          <div class="layui-input-inline">
            <input type="text" name="orgPostal" class="layui-input" autocomplete="off" lay-verify="number" maxlength="6" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">法人代表</label>
          <div class="layui-input-inline">
            <input type="text" name="orgLegal" class="layui-input" autocomplete="off" maxlength="10" />
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">税务号</label>
          <div class="layui-input-inline">
            <input type="text" name="orgTaxNo" class="layui-input" autocomplete="off" lay-verify="alphanumeric" maxlength="25" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">注册登记号</label>
          <div class="layui-input-inline">
            <input type="text" name="orgRegNo" class="layui-input" autocomplete="off" lay-verify="alphanumeric" maxlength="25" />
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">上级机构</label>
          <div class="layui-input-inline">
            <input type="hidden" name="parentId" />
            <input type="text" name="parentName" class="layui-input" autocomplete="off" lay-verify="required" />
          </div>
          <a class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" data-type="selectOrgan">
            <i class="layui-icon layui-icon-search"></i>
          </a>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
          <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
        </div>
      </div>

      <div class="toolbar"></div>
    </form>
  </div>
</body>
<div id="tree" class="layui-hide" lay-filter="tree"></div>
<script type="text/javascript" src="../../public/static/layui/2.4.3/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../public/static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../public/static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="operator">
  <div class="layui-btn-group">
    {{# if(d.action == 'create') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="create" lay-submit="submit">保存
      <span class="layui-icon glyphicon-hdd"></span>
    </a>
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="reback">返回
      <span class="layui-icon glyphicon-circle-arrow-left"></span>
    </a>
    {{# } else if(d.action == 'modify') { }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="update" lay-submit="submit">保存
      <span class="layui-icon glyphicon-hdd"></span>
    </a>
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="reback">返回
      <span class="layui-icon glyphicon-circle-arrow-left"></span>
    </a>
    {{# } else if(d.action == 'view') { }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="reback">返回
      <span class="layui-icon glyphicon-circle-arrow-left"></span>
    </a>
    {{# } }}
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../public/static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form', 'laydate', 'eleTree'], function() {
    let $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      layer = layui.layer,
      layDate = layui.laydate,
      eleTree = layui.eleTree;

    let queryObj = MyCuckoo.getQueryObject(location.search);

    //渲染操作按钮
    laytpl(operator.innerHTML).render(queryObj, function(html) {
      $('.toolbar').html(html);
    });

    //初始化
    $.get(api.dictionaryMgr.smallTypeUrl, {bigTypeCode: 'organType'}).then(json => {
      let $select = $('select[name=orgType]');
      $select.empty();

      for (let i = 0; i < json.data.length; i++) {
        let item = json.data[i];
        $select.append('<option value="' + item.smallTypeCode + '">' + item.smallTypeName + '</option>');
      }

      form.render('select');
      //表单初始赋值
      if (queryObj.id) {
        $.get(api.organMgr.url + '/' + queryObj.id).then(json => {
          form.val('editForm', json.data);
        });
      }
    });

    //日期
    layDate.render({
      elem: '#orgBeginDate'
    });

    let active = {
      openTree(url, config) {
        let $tree = $('#tree');
        eleTree.render({
          elem: $tree,
          url: MyCuckoo.resolvePlaceholder(url, {id: 0}),
          defaultExpandAll: true,
          request: { key: 'id', name: 'text' },
          done: function() {
            layer.open({
              type: 1,
              skin: 'layui-layer-rim', //加上边框
              area: ['240px', '320px'], //宽高
              content: $tree
            });
            $tree.removeClass('layui-hide');
          }
        });

        eleTree.on('nodeClick(tree)', function(d) {
          let data = d.data.currentData;
          let valObj =  {};
          for (let p in config) {
            if (typeof p == 'string') {
              valObj[config[p]] = data[p];
            }
          }
          form.val('editForm', valObj);

          layer.close(layer.index);
          $tree.addClass('layui-hide').off().empty();
        })
      },
      selectBelongDist() {
        this.openTree(api.districtMgr.childNodesUrl, {id: 'orgBelongDist', text: 'orgBelongDistName'});
      },
      selectOrgan() {
        this.openTree(api.organMgr.childNodesUrl, {id: 'parentId', text: 'parentName'});
      },
      create() {
        $.postJson(api.organMgr.url, this.data).then(data => {
          MyCuckoo.msg({msg: data.data});

          this.refresh();
        });
      },
      update() {
        $.put(api.organMgr.url, this.data).then(data => {
          MyCuckoo.msg({msg: data.data});

          this.refresh();
        });
      },
      //刷新父窗
      refresh() {
        setTimeout(function() {
          parent.location.reload();
          this.reback();
        }, 2000);
      },
      //关闭当前iframe页
      reback() {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    //操作按钮触发事件
    $('form a.layui-btn[lay-submit!=submit]').on('click', function() {
      var type = $(this).data('type');
      active[type] && active[type].call($.extend({}, active, this));
    });

    //监听提交
    form.on('submit', function(data) {
      var type = $(this).data('type');
      active[type] && active[type].call($.extend({}, active, {data: data.field}));

      return false;
    });
    //end
  });
</script>
</html>