<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分配权限</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/dtree.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/font/dtreefont.css" rel="stylesheet" />
</head>
<body>
  <div class="mycuckoo-main">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
      <legend>角色名称</legend>
    </fieldset>

    <div class="layui-tab">
      <ul class="layui-tab-title">
        <li class="layui-this">模块操作权限分配</li>
        <li>行权限分配</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <form class="layui-form layui-form-pane" name="roleAssignModOpt" lay-filter="roleAssignModOpt">
            <div class="layui-form-item">
              <label class="layui-form-label">权限范围</label>
              <div class="layui-input-block">
                <input type="radio" name="privilegeScope" value="inc" title="包含操作">
                <input type="radio" name="privilegeScope" value="exc" title="不包含操作">
                <input type="radio" name="privilegeScope" value="all" title="全部(无需分配操作)">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">模块</label>
              <div class="layui-input-block" style="max-height: 310px; overflow: auto;">
                <ul id="ID_tree" lay-filter="tree"></ul>
              </div>
            </div>

            <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
              <a href="javascript:" class="layui-btn layui-btn-sm" data-type="saveOptPrivilege" lay-submit>
                <i class="layui-icon layui-icon-ok"></i>保存
              </a>
              <a href="javascript:" class="layui-btn layui-btn-sm" data-type="close">
                <i class="layui-icon layui-icon-close"></i>取消
              </a>
            </div>
          </form>
        </div>

        <div class="layui-tab-item">
          <form class="layui-form layui-form-pane" name="roleAssignRowPriv" lay-filter="roleAssignRowPriv">
            <div class="layui-form-item">
              <label class="layui-form-label">权限范围</label>
              <div class="layui-input-block">
                <input type="radio" name="rowPrivilege" value="org" title="机构">
                <input type="radio" name="rowPrivilege" value="rol" title="角色">
                <input type="radio" name="rowPrivilege" value="urs" title="用户">
              </div>
            </div>

            <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
              <a href="javascript:" class="layui-btn layui-btn-sm" data-type="saveRowPrivilege" lay-submit>
                <i class="layui-icon layui-icon-ok"></i>保存
              </a>
              <a href="javascript:" class="layui-btn layui-btn-sm" data-type="close">
                <i class="layui-icon layui-icon-close"></i>取消
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'element', 'form', 'dtree'], function() {
    var $ = layui.jquery,
      element = layui.element,
      form = layui.form,
      tree = layui.dtree,
      queryObj = MyCuckoo.getQueryObject(location.search),
      $main = $('.mycuckoo-main');


    var treeObj;
    var FormMgr = function () {
      //表单初始赋值
      if (queryObj.id) {
        $('fieldset > legend').text('角色名称: ' + queryObj.name);
        $.get(api.roleMgr.rolePrivilegeUrl, queryObj).then(function(json) {
          form.val('roleAssignModOpt', json.data);
          form.val('roleAssignRowPriv', json.data);

          //初始化结构树
          treeObj = tree.render({
            elem: '#ID_tree',
            method: 'get',
            data: json.data.privileges,
            dataStyle: 'layuiStyle',
            response: { statusCode: 0, treeId: 'id', title: 'text', isLast: 'isLeaf', checkArr: 'checkbox'},
            checkbar: true,
            dot: false,
            icon: ['-1', '1'],
//          done: function() {
//            treeObj.chooseDataInit(json.data.assign.join(','));
//          }
          });
        });
      } else {
        MyCuckoo.alert({ title : '提示', msg : '请关闭后选择角色!' });
        return;
      }

      var formMgr = this;
      //操作按钮触发事件
      $main.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type]($.extend({}, data.field, queryObj));

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      //保存用户权限
      saveOptPrivilege: function(data) {
        if(!data.privilegeScope) {
          MyCuckoo.alert({ title : '提示', msg : '请选择权限范围!' });
          return;
        }

        var selectedNodes = treeObj.getCheckbarNodesParam();
        if(!selectedNodes.length) {
          MyCuckoo.alert({ title : '提示', msg : '请选择权限!' });
          return;
        }

        console.log(selectedNodes)

        var optIds = [];
        selectedNodes.forEach(item => item.isLeaf && optIds.push(item.nodeId));
        $.postJson(api.roleMgr.saveOptPrivilegeUrl, data, optIds).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      //保存行权限
      saveRowPrivilege: function(data) {
        if(!data.rowPrivilege) {
          MyCuckoo.alert({ title : '提示', msg : '请选择行权限类别!' });
          return;
        }

        $.postJson(api.roleMgr.saveRowPrivilegeUrl, data, data.rowPrivilege).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function(ele) {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>