<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>选择角色信息</title>
  <link type="image/x-icon" href="../../public/static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../public/static/layui/2.4.3/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../public/static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form">
    <div class="layui-btn-group">
      <a href="javascript:" class="layui-btn layui-btn-sm" data-type="save" lay-submit="submit">保存
        <i class="layui-icon glyphicon-hdd"></i>
      </a>
      <a href="javascript:" class="layui-btn layui-btn-sm" data-type="reback">返回
        <i class="layui-icon glyphicon-circle-arrow-left"></i>
      </a>
    </div>
  </form>

  <table id="table" class="layui-hide" lay-filter="table"></table>
</div>
</body>
<script type="text/javascript" src="../../public/static/layui/2.4.3/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../public/static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../public/static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.config({
    base: '../../public/static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'form', 'table'], function() {
    let $ = layui.jquery,
      form = layui.form,
      table = layui.table;

    let queryObj = MyCuckoo.getQueryObject(location.search);
    table.render({
      id: 'table',
      elem: '#table',
      url: MyCuckoo.resolvePlaceholder(api.organRoleMgr.unSelectRoleUrl, queryObj),
      method: 'get',
      cellMinWidth: 100,
      cols: [[
        {type: 'numbers'},
        {type: 'checkbox'},
        {field: 'roleName', dialog: 'text', title: '角色名称'},
        {field: 'status', title: '角色状态',
          templet: function(d) {
            if(d.status == 'enable') {
              return '启用';
            } else if(d.status == 'disable') {
              return '停用';
            }
          }
        },
        {field: 'creator', title: '创建人'},
        {field: 'createDate', title: '创建日期', sort: true}
      ]],
      page: true,
      request: {
        pageName: 'pageNo',
        limitName: 'pageSize'
      },
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.message,
          count: res.data.totalElements,
          data: res.data.content
        }
      }
    });

    let active = {
      save() {
        var data = table.checkStatus('table').data;
        if(data.length == 0) {
          MyCuckoo.alert({title: '提示', msg: '请选择一条或多条记录!'});
          return;
        }

        let roleIdList = [];
        data.forEach(item => {
          roleIdList.push(item.roleId);
        });
        let params = {id : queryObj.orgId, roleIdList : roleIdList};
        $.put(api.organRoleMgr.url, params).then(data => {
          MyCuckoo.msg({msg: data.data});

          this.refresh();
        });
      },
      //刷新父窗
      refresh() {
        setTimeout(function() {
          parent.location.reload();
          this.reback();
        }, 2000);
      },
      //关闭当前iframe页
      reback() {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    //操作按钮触发事件
    $('form a.layui-btn').on('click', function() {
      var type = $(this).data('type');
      active[type] && active[type].call($.extend({}, active, this));
    });
  });
</script>
</html>