<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>角色信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.13.5/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
  <div class="mycuckoo-main">
    <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
      <input type="hidden" name="roleId" />
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">角色名称</label>
          <div class="layui-input-inline">
            <input type="text" name="name" class="layui-input" lay-verify="required" maxlength="10" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">角色级别</label>
          <div class="layui-input-inline">
            <select name="level" lay-verify="required">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </div>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
          <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
        </div>
      </div>

      <div class="toolbar"></div>
    </form>
  </div>
</body>
<script type="text/javascript" src="../../static/layui/2.13.5/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.bundle.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.use(['jquery', 'form'], function() {
    const $ = layui.jquery,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search),
      resources = MyCuckoo.getResource(queryObj.reskey),
      resourceMap = MyCuckoo.getDictMap(resources),
      resourceObj = resourceMap[queryObj.action],
      $form = $('form[name=editForm]');

    const FormMgr = function () {
      const that = this;

      //渲染操作按钮
      $form.find('.toolbar').html(MyCuckoo.getActions(resourceObj || {}, 'form'));

      //表单初始赋值
      if (queryObj.id && resourceObj.canAccess()) {
        $.request(resourceMap[MyCuckoo.res.roleMgr.view], queryObj).then(json => {
          form.val('editForm', json.data);

          if (resourceObj.code === MyCuckoo.res.roleMgr.view) {
            $form.find('input, select, textarea').attr('disabled', 'disabled')
          }
        });
      }

      //操作按钮触发事件
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        let event = $(this).data('event');
        that.on({event: event, elem: this});
      });

      //监听提交
      form.on('submit', function(data) {
        let event = $(this).data('event');
        that.on({event: event, data: data.field});

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      on: function(obj) {
        let arr = obj.event.split(':');
        let event = arr[arr.length - 1];

        this[event] && this[event](obj);
      },
      add: function(obj) {
        $.request(resourceObj, obj.data).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      modify: function(obj) {
        $.request(resourceObj, obj.data).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function() {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>