<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>角色信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
  <div class="mycuckoo-main">
    <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
      <input type="hidden" name="roleId" />
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">角色名称</label>
          <div class="layui-input-inline">
            <input type="text" name="name" class="layui-input" lay-verify="required" maxlength="10" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">角色级别</label>
          <div class="layui-input-inline">
            <select name="level" lay-verify="required">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </div>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
          <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
        </div>
      </div>

      <div class="toolbar"></div>
    </form>
  </div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if(d.action != 'view') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="{{= d.action }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>保存
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form'], function() {
    var $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search);

    var FormMgr = function () {
      //渲染操作按钮
      laytpl(operator.innerHTML).render(queryObj, function(html) {
        $('.toolbar').html(html);
      });

      //表单初始赋值
      if (queryObj.id) {
        $.get(api.roleMgr.url + '/' + queryObj.id).then(function(json) {
          form.val('editForm', json.data);

          if (queryObj.action == 'view') {
            $('input, select, textarea').attr('disabled', 'disabled')
          }
        });
      }

      //操作按钮触发事件
      var formMgr = this;
      $('form a.layui-btn:not([lay-submit])').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](data.field);

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      add: function(data) {
        $.postJson(api.roleMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      modify: function(data) {
        $.put(api.roleMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
          this.close();
        }, 2000);
      },
      //关闭当前iframe页
      close: function(ele) {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>