<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>统一用户</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/dtree.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/font/dtreefont.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-site-nav">
    <span class="layui-breadcrumb">
      <a href="javascript:;">我的桌面</a>
      <a><cite>机构角色</cite></a>
    </span>
  <span class="right">
      <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
      </a>
    </span>
</div>

<div class="mycuckoo-main">
  <div class="layui-row">
    <form class="layui-col-md12 layui-form mycuckoo-search">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input class="layui-input" name="roleName" placeholder="角色名称">
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" lay-filter="search" lay-submit>
            <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="layui-row">
    <div class="layui-col-md2">
      <div id="tree" lay-filter="tree"></div>
    </div>

    <div class="layui-col-md10">
      <table id="table" class="layui-hide" lay-filter="table"></table>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-group btn-toolbar">
    {{# layui.each(d.operator, function(index, item){ }}
    <button class="layui-btn layui-btn-sm" lay-event="{{ item.code }}">
      <i class="layui-icon layui-icon-{{ item.iconCls }}"></i> {{ item.name }}
    </button>
    {{# }); }}
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'form', 'table', 'dtree'], function() {
    var $ = layui.jquery,
      form = layui.form,
      table = layui.table,
      tree = layui.dtree;

    //本地缓存数据
    var queryObj = MyCuckoo.getQueryObject(location.search);
    var operator = MyCuckoo.getOperation(queryObj.id);

    //搜索
    form.on('submit(search)', function(data) {
      table.reload('table', {
        page: { pageNo: 1 },
        where: data.field
      });

      return false;
    });

    //初始化结构树
    var selectNode = null;
    var treeObj = tree.render({
      elem: '#tree',
      method: 'get',
      url: MyCuckoo.resolvePlaceholder(api.deptMgr.childNodesUrl, {id: 0}),
      request: {isCheckbox: 'N'},
      dataStyle: 'layuiStyle',
      response: { statusCode: 0, treeId: 'id', title: 'text', isLast: 'isLeaf', checkArr: 'checkbox'},
      checkbar: true,
      dot: false,
      //icon: ['-1', '1']
    });
    tree.on('node(tree)', function(obj) {
      var data = obj.param;
      selectNode = data;
      table.reload('table', {
        page: { pageNo: 1 },
        where: {
          treeId: data.nodeId
        }
      });
    });

    table.render({
      id: 'table',
      elem: '#table',
      url: api.organRoleMgr.url,
      method: 'get',
      cellMinWidth: 100,
      height: MyCuckoo.tableHeight,
      toolbar: '#toolbar',
      operator: operator,
      cols: [[
        {type: 'numbers'},
        {type: 'checkbox'},
        {field: 'name', title: '角色名称'},
        {field: 'status', title: '角色状态',
          templet: function(d) {
            if(d.status == 'enable') {
              return '启用';
            } else if(d.status == 'disable') {
              return '停用';
            }
          }
        },
        {field: 'creator', title: '创建人'},
        {field: 'createDate', title: '创建日期', sort: true}
      ]],
      page: true,
      request: {
        pageName: 'pageNo',
        limitName: 'pageSize'
      },
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.message,
          count: res.data.totalElements,
          data: res.data.content
        }
      }
    });

    table.on('toolbar(table)', function (obj) {
      if (obj.event.indexOf('LAYTABLE_') == 0) {
        return;
      }
      if (obj.event == 'roleassign') {
        active[obj.event](obj);
        return;
      }

      var data = table.checkStatus(obj.config.id).data;
      if (!data.length) {
        MyCuckoo.alert({title : '提示', msg : '请选择记录' });
        return;
      }

      if (!active[obj.event]) {
        MyCuckoo.alert({title : '警示', msg : '此操作无效, 如有疑问, 请联系管理员!' });
        return;
      }

      obj.data = data;
      active[obj.event](obj);
    });


    var active = {
      reload: function() {
        table.reload('table', { page: { pageNo: 1 } });
      },
      //分配角色
      roleassign: function(obj) {
        var data = obj.data;
        var nodes = selectNode;
        if(nodes == null) {
          MyCuckoo.alert({ title : '提示', msg : '请选择要分配角色的机构' });
          return;
        }

        var url = MyCuckoo.resolve('roleAssignMgrSelectRole.html?action={_event}&opt={_opt}&orgId={id}',
            {'_event': obj.event, '_opt': queryObj.id, 'id': nodes.nodeId})
        MyCuckoo.dialog('选择角色信息', url);
      },
      //删除角色
      roledel: function(obj) {
        var data = obj.data;
        var _this = this;
        MyCuckoo.confirm({title: '警告提示', msg: '您确认删除此记录吗?',
          okBtn: '是', cancelBtn: '否', ok: function() {
            var roleIdList = [];
            for (var index in data) {
              roleIdList.push(data[index].roleId);
            }

            var orgId = selectNode.nodeId;
            var params = roleIdList;
            $.delete(api.organRoleMgr.url + '/' + orgId, params).then(json => {
              MyCuckoo.msg({ msg: json.data });

              _this.reload(); // 刷新列表
            });
          }
        });
      }
    }

  });
</script>
</html>