<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>统一用户</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.4.3/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-site-nav">
    <span class="layui-breadcrumb">
      <a href="javascript:;">我的桌面</a>
      <a><cite>角色管理</cite></a>
    </span>
  <span class="right">
      <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
      </a>
    </span>
</div>

<div class="mycuckoo-main">
  <div class="layui-row">
    <form class="layui-col-md12 layui-form mycuckoo-search">
      <div class="layui-inline">
        <label class="layui-form-label">搜索：</label>
        <div class="layui-input-inline">
          <input class="layui-input" name="roleName" placeholder="角色名称">
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" lay-filter="search" lay-submit>
            <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <table id="table" class="layui-hide" lay-filter="table"></table>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.4.3/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-group btn-toolbar">
    {{# layui.each(d.operator, function(index, item){ }}
    <button class="layui-btn layui-btn-sm" lay-event="{{ item.optLink }}">
      <i class="layui-icon layui-icon-{{ item.modIconCls }}"></i> {{ item.modName }}
    </button>
    {{# }); }}
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'form', 'table'], function() {
    let $ = layui.jquery,
      form = layui.form,
      table = layui.table;

    //本地缓存数据
    let queryObj = MyCuckoo.getQueryObject(location.search);
    let menu = JSON.parse(sessionStorage.getItem('myMenu'));
    let operator = menu.fourth[queryObj.id];

    form.on('submit(search)', function(data) {
      //执行重载
      table.reload('table', {
        page: {
          pageNo: 1 //重新从第 1 页开始
        },
        where: data.field
      });

      return false;
    });

    table.render({
      id: 'table',
      elem: '#table',
      url: api.roleMgr.url,
      method: 'get',
      cellMinWidth: 100,
      toolbar: '#toolbar',
      operator: operator,
      cols: [[
        {type: 'numbers'},
        {type: 'radio'},
        {field: 'roleName', title: '角色名称'},
        {field: 'roleLevel', title: '角色级别'},
        {field: 'status', title: '角色状态',
          templet: function(d) {
            if(d.status == 'enable') {
              return '启用';
            } else if(d.status == 'disable') {
              return '停用';
            }
          }
        },
        {field: 'creator', title: '创建人'},
        {field: 'createDate', title: '创建日期', sort: true},
        {field: 'memo', title: '备注'},
      ]],
      page: true,
      request: {
        pageName: 'pageNo',
        limitName: 'pageSize'
      },
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.message,
          count: res.data.totalElements,
          data: res.data.content
        }
      }
    });

    table.on('toolbar(table)', function (obj) {
      if (obj.event.indexOf('LAYTABLE_') == 0) {
        return;
      }
      if (obj.event == 'add') {
        active[obj.event](this);
        return;
      }

      let data = table.checkStatus(obj.config.id).data;
      if (data.length != 1) {
        MyCuckoo.alert({title : '提示', msg : '请选择一条记录' });
        return;
      }

      if (!active[obj.event]) {
        MyCuckoo.alert({title : '警示', msg : '此操作无效, 如有疑问, 请联系管理员!' });
        return;
      }
      active[obj.event](data[0]);
    });

    function reload() {
      table.reload('table', { page: { pageNo: 1 } });
    }

    let active = {
      //增加
      add(ele) {
        MyCuckoo.dialog('角色信息', 'roleMgrForm.html?action=create');
      },
      //修改
      modify(data) {
        MyCuckoo.dialog('角色信息', 'roleMgrForm.html?action=modify&id=' + data.roleId);
      },
      //查看
      view(data) {
        MyCuckoo.dialog('角色信息', 'roleMgrForm.html?action=view&id=' + data.roleId);
      },
      //删除
      delete(data) {
        MyCuckoo.confirm({title: '警告提示', msg: '您确认删除此记录吗?',
          okBtn: '是', cancelBtn: '否', ok: function() {
            $.delete(api.roleMgr.url + '/' + data.roleId, {}).then(json => {
              MyCuckoo.msg({ msg: json.data });

              reload(); // 刷新列表
            });
        }});
      },
      //启用
      enable(data) {
        if(data.status == 'enable') {
          MyCuckoo.msg({ msg : '此角色已经启用' });
          return;
        }

        $.put(api.roleMgr.disEnableUrl, {id: data.roleId, disEnableFlag: 'enable'}).then(json => {
          MyCuckoo.msg({ msg: '角色启用成功' });

          reload(); // 刷新列表
        });
      },
      //停用
      disable(data) {
        if(data.status == 'disable') {
          MyCuckoo.alert({ title : '提示', msg : '此角色已经停用' });
          return;
        }

        MyCuckoo.confirm({msg : '您确认停用此角色? 如停用,相应机构下的此角色将自动清除.', ok : function() {
          $.put(api.roleMgr.disEnableUrl, {id: data.roleId, disEnableFlag: 'disable'}).then(json => {
              MyCuckoo.msg({ msg: '角色停用成功' });

              reload(); // 刷新列表
          });
        }});
      },
      //分配权限
      optpri(data) {
        if (data.status == 'disable') {
          MyCuckoo.msg({ state : 'danger', title : '提示', msg : '请先启用此角色！' });
          return;
        }

        MyCuckoo.dialog('分配权限', 'roleMgrAssignModOpt.html?&id=' + data.roleId + '&roleName=' + data.roleName);
      }
      //end
    }
  });
</script>