<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分配权限</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/dtree.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/font/dtreefont.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>用户名称</legend>
  </fieldset>

  <div class="layui-tab">
    <ul class="layui-tab-title">
      <li class="layui-this">模块操作权限分配</li>
      <li>行权限分配</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <form class="layui-form layui-form-pane" name="userAssignModOpt" lay-filter="userAssignModOpt">
          <div class="layui-form-item">
            <label class="layui-form-label">权限范围</label>
            <div class="layui-input-block">
              <input type="radio" name="privilegeScope" value="inc" title="包含操作">
              <input type="radio" name="privilegeScope" value="exc" title="不包含操作">
              <input type="radio" name="privilegeScope" value="all" title="全部(无需分配操作)">
            </div>
          </div>

          <div class="layui-form-item">
            <label class="layui-form-label">模块</label>
            <div class="layui-input-block" style="max-height: 310px; overflow: auto;">
              <ul id="ID_opt_tree" data-id="0" lay-filter="tree"></ul>
            </div>
          </div>

          <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
            <a href="javascript:" class="layui-btn layui-btn-sm" data-event="assignRes" lay-submit="submit">
              <i class="layui-icon layui-icon-ok"></i>保存
            </a>
            <a href="javascript:" class="layui-btn layui-btn-sm" data-event="close">
              <i class="layui-icon layui-icon-close"></i>取消
            </a>
          </div>
        </form>
      </div>

      <div class="layui-tab-item">
        <form class="layui-form layui-form-pane" name="userAssignRowPriv" lay-filter="userAssignRowPriv">
          <div class="layui-form-item">
            <label class="layui-form-label">权限范围</label>
            <div class="layui-input-block">
              <input type="radio" name="privilegeScope" value="dept" title="部门" lay-filter="rowPrivilege">
              <input type="radio" name="privilegeScope" value="rol" title="角色" lay-filter="rowPrivilege">
              <input type="radio" name="privilegeScope" value="usr" title="用户" lay-filter="rowPrivilege">
            </div>
          </div>

          <div id="ID_dept_scope" class="layui-hide scope">
            <div class="layui-form-item">
              <label class="layui-form-label">部门</label>
              <div class="layui-input-block" style="max-height: 310px; overflow: auto;">
                <ul id="ID_dept_scope_tree" data-id="0" lay-filter="row-tree"></ul>
              </div>
            </div>
          </div>

          <div id="ID_rol_scope" class="layui-hide scope">
            <div class="layui-form-item">
              <label class="layui-form-label">角色</label>
              <div class="layui-input-block" style="max-height: 310px; overflow: auto;">
                <ul id="ID_rol_scope_tree" data-id="0" lay-filter="row-tree"></ul>
              </div>
            </div>
          </div>

          <div id="ID_usr_scope" class="layui-hide scope">
            <div class="layui-form-item">
              <label class="layui-form-label">搜索</label>
              <div class="layui-input-inline">
                <input type="text" name="searchUsr" class="layui-input" placeholder="请输入用户名称">
              </div>
              <a class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" data-event="selectUsers">
                <i class="layui-icon layui-icon-search"></i>
              </a>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">用户</label>
              <div class="layui-input-block" style="max-height: 310px; overflow: auto;">
                <ul id="ID_usr_scope_tree" data-id="0" lay-filter="row-tree"></ul>
              </div>
            </div>
          </div>

          <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
            <a href="javascript:" class="layui-btn layui-btn-sm" data-event="assignRow" lay-submit="submit">
              <i class="layui-icon layui-icon-ok"></i>保存
            </a>
            <a href="javascript:" class="layui-btn layui-btn-sm" data-event="close">
              <i class="layui-icon layui-icon-close"></i>取消
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'element', 'form', 'dtree'], function() {
    var $ = layui.jquery,
      element = layui.element,
      form = layui.form,
      tree = layui.dtree,
      queryObj = MyCuckoo.getQueryObject(location.search),
      operator = MyCuckoo.getOperation(queryObj.opt),
      operatorMap = MyCuckoo.getDictMap(operator),
      $tab = $('.layui-tab');


    var treeObj;

    var FormMgr = function() {
      var formMgr = this;
      //表单初始赋值
      if (queryObj.id) {
        $('fieldset > legend').text('用户名称:' + queryObj.name);
        $.request(operatorMap['userMgr:resSelector'], queryObj).then(json => {
          form.val('userAssignModOpt', json.data);
          form.val('userAssignRowPriv', json.data);

          //菜单操作权限树
          treeObj = tree.render({
            elem: '#ID_opt_tree',
            method: 'get',
            data: json.data.source,
            dataStyle: 'layuiStyle',
            response: { statusCode: 0, treeId: 'id', title: 'text', isLast: 'isLeaf', checkArr: 'checkbox'},
            checkbar: true,
            nodeIconArray:{'1': {'open': 'dtree-icon-move-up', 'close': 'dtree-icon-move-down'}},
            icon: ['1', '5']
          });

          formMgr.selectRowPrivilege('');
        });
      } else {
        MyCuckoo.alert({ title : '提示', msg : '请关闭后选择用户!' });
        return;
      }

      //行权限选择
      form.on('radio(rowPrivilege)', function(data) {
        formMgr.selectRowPrivilege(data.value);
      });

      //操作按钮触发事件
      $tab.find('form a.layui-btn:not([lay-submit])').on('click', function() {
        var event = $(this).data('event');
        formMgr[event] && formMgr[event]({event: event, data: this});
      });

      //监听提交
      form.on('submit', function(data) {
        var event = $(this).data('event');
        formMgr[event] && formMgr[event]({event: event, data: $.extend({}, data.field, queryObj)});

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      rowTreeObj: null,
      openTree: function(url, config) {
        var that = this;
        that.rowTreeObj = tree.render({
          elem: '#' + config.id,
          method: 'get',
          url: MyCuckoo.resolvePlaceholder(url, {id: 0}),
          request: {isCheckbox: true, withRole: config.withRole == true},
          dataStyle: 'layuiStyle',
          response: { statusCode: 0, treeId: 'id', title: 'text', isLast: 'isLeaf', checkArr: 'checkbox'},
          checkbar: true,
          dot: false,
          icon: ['-1', '5'],
          done: function() {
            that.rowTreeObj.chooseDataInit(config.data.join(','));
          }
        });
      },
      selectRowPrivilege: function(privilegeType) {
        var that = this;
        $.request(operatorMap['userMgr:rowSelector'], queryObj).then(json => {
          var data = json.data;
          var selectedPrivilegeType = data.privilegeScope;

          if(!privilegeType) {
            form.val('userAssignRowPriv', data);
            privilegeType = selectedPrivilegeType || 'dept';
          }
          var id = 'ID_' + privilegeType + '_scope_tree';
          $tab.find('.scope').addClass('layui-hide');
          $tab.find('#ID_' + privilegeType + '_scope').removeClass('layui-hide');

          if(privilegeType == 'dept') {
            var checkNodes = [];
            data.privileges.forEach(item => {
              checkNodes.push(item.id);
            });
            var action = operatorMap['deptMgr:tree'];
            that.openTree(api.host + action.path, {id: id, data: checkNodes});
          }
          else if(privilegeType == 'rol') {
            var checkNodes = [];
            data.privileges.forEach(item => {
              checkNodes.push('id-leaf-' + item.id);
            });
            var action = operatorMap['deptMgr:tree'];
            that.openTree(api.host + action.path, {id: id, data: checkNodes, withRole: true});
          }
          else {
            var nodes = data.privileges;
            if(privilegeType == selectedPrivilegeType) {
              nodes.forEach(item => {
                item.parentId = 0;
                item.isLeaf = true;
                item.checkBox = {type: 0, isChecked: 1};
              });
            }

            that.rowTreeObj = tree.render({
              elem: '#' + id,
              data: nodes,
              dataStyle: 'layuiStyle',
              response: { treeId: 'id', title: 'name', isLast: 'isLeaf', checkArr: 'checkbox'},
              checkbar: true,
              dot: false,
              icon: ['-1', '5']
            });
          }
        });
      },
      //查询用户
      selectUsers: function(ele) {
        $.request(operatorMap['userMgr:selector'], {userName: $tab.find('input[name=searchUsr]').val()}).then(json => {
          var nodes = [];
          json.data.forEach(item => nodes.push({
            id: item.userId,
            parentId: 0,
            name: item.name,
            isLeaf: true,
            checkBox: {type: 0, isChecked: 1}
          }));

          this.rowTreeObj.reload({data: nodes});
        });
      },
      //保存用户权限
      assignRes: function(obj) {
        var data = obj.data;
        if(!data.privilegeScope) {
          MyCuckoo.alert({ title : '提示', msg : '请选择权限范围!' });
          return;
        }
        var selectedNodes = treeObj.getCheckbarNodesParam();
        if(!selectedNodes.length) {
          MyCuckoo.alert({ title : '提示', msg : '请选择权限!' });
          return;
        }

        var optIds = [];
        selectedNodes.forEach(item => item.isLeaf && optIds.push(item.nodeId));
        $.request(operatorMap['userMgr:assignRes'], data, optIds).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      //保存行权限
      assignRow: function(obj) {
        var data = obj.data;
        if(!data.privilegeScope) {
          MyCuckoo.alert({ title : '提示', msg : '请选择行权限类别!' });
          return;
        }
        var selectedNodes = this.rowTreeObj.getCheckbarNodesParam();
        if(!selectedNodes.length) {
          MyCuckoo.alert({ title : '提示', msg : '请选择权限!' });
          return;
        }

        var rowIds = [];
        selectedNodes.forEach(item => {
          var id = item.nodeId;
          var index = !isNaN(id) ? -1 : id.indexOf('_');
          rowIds.push(item.isLeaf && index != -1 ? id.substr(index + 1) : id);
        });
        $.request(operatorMap['userMgr:assignRow'], data, rowIds).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function(ele) {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>