<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>选择用户</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.13.5/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <style>
    .picker-selected {
      margin: 10px 0;
      padding: 10px 12px;
      border-radius: 6px;
      background: #f8f8f8;
      color: #666;
      line-height: 1.7;
      word-break: break-all;
    }
  </style>
</head>
<body>
<div class="mycuckoo-main">
  <div class="layui-row">
    <form class="layui-col-md12 layui-form mycuckoo-search" name="searchForm">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input class="layui-input" name="q[code]" placeholder="用户号" />
        </div>
        <div class="layui-input-inline">
          <input class="layui-input" name="q[name]" placeholder="用户名" />
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" lay-filter="search" lay-submit>
            <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="picker-selected">
    <div>已选用户（<span id="ID_selected_count">0</span>）</div>
    <div id="ID_selected_summary">未选择</div>
    <div id="ID_selected_cache" class="layui-hide"></>
  </div>

  <table id="ID_table" class="layui-hide" lay-filter="table"></table>

  <form class="layui-form" name="pickerForm">
    <div class="layui-btn-container" style="margin-top: 10px; text-align: center;">
      <a href="javascript:" class="layui-btn layui-btn-sm" data-event="assign" lay-submit="submit">
        <i class="layui-icon layui-icon-ok"></i>保存
      </a>
      <a href="javascript:" class="layui-btn layui-btn-sm" data-event="close">
        <i class="layui-icon layui-icon-close"></i>取消
      </a>
    </div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.13.5/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.bundle.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.use(['jquery', 'form', 'table'], function() {
    const $ = layui.jquery,
      form = layui.form,
      table = layui.table,
      queryObj = MyCuckoo.getQueryObject(location.search),
      resourceMap = MyCuckoo.getResourceMap(),
      selectedUsers = Object.create(null),
      $form = $('form[name=pickerForm]');

    function splitValue(value) {
      return (value || '').split(',')
        .map(function(item) {
          return item.trim();
        })
        .filter(function(item) {
          return item;
        });
    }

    function getUserId(user) {
      return user && (user.userId || user.id || user.account);
    }

    function getUserName(user) {
      return user && (user.name || user.userName || user.account);
    }

    function getSelectedUsers() {
      return Object.keys(selectedUsers).map(function(id) {
        return selectedUsers[id];
      });
    }

    function initSelectedUsers(idsValue, namesValue) {
      const ids = splitValue(idsValue),
        names = splitValue(namesValue);

      ids.forEach(function(id, index) {
        selectedUsers[id] = {
          id: id,
          name: names[index] || id
        };
      });
    }

    function upsertSelectedUser(user) {
      const id = getUserId(user);

      if (id == null || id === '') {
        return;
      }

      selectedUsers[id] = {
        id: id,
        name: getUserName(user) || (selectedUsers[id] && selectedUsers[id].name) || id
      };
    }

    function removeSelectedUser(user) {
      const id = getUserId(user);

      if (id == null || id === '') {
        return;
      }

      delete selectedUsers[id];
    }

    function updateSelectedSummary() {
      const users = getSelectedUsers(),
        names = users.map(function(user) {
          return user.name || user.id;
        });

      $('#ID_selected_count').text(String(users.length));
      $('#ID_selected_summary').text(names.length ? names.join(', ') : '未选择');
      $('#ID_selected_cache').attr('json', users.length ? JSON.stringify(users) : '');
    }

    function closeDialog() {
      const index = parent.layer.getFrameIndex(window.name);
      parent.layer.close(index);
    }

    function FormMgr() {
      const that = this;

      initSelectedUsers(queryObj.ids, queryObj.names);
      updateSelectedSummary();

      table.render({
        id: 'table',
        elem: '#ID_table',
        url: MyCuckoo.api.getUrl(resourceMap[MyCuckoo.res.userMgr.list]),
        method: 'get',
        cellMinWidth: 100,
        height: 'full-200',
        cols: [[
          {type: 'numbers'},
          {type: 'checkbox'},
          {field: 'name', title: '名称'},
          {field: 'phone', title: '手机号'},
          {field: 'email', title: '邮箱'},
          {field: 'orgName', title: '所属机构'}
        ]],
        page: true,
        request: {
          pageName: 'pageNo',
          limitName: 'pageSize'
        },
        parseData: function(res) {
          const pageData = res.data.content || [];
          pageData.forEach(function(item, index) {
            if (selectedUsers[getUserId(item)]) {
              // tableInst.setRowChecked('table', {index: index})
              item.LAY_CHECKED = true;
              upsertSelectedUser(item);
            }
          });

          return {
            code: res.code,
            msg: res.msg,
            count: res.data.totalElements,
            data: pageData
          };
        },
        done: function() {
          updateSelectedSummary();
        }
      });

      table.on('checkbox(table)', function(obj) {
        const pageData = table.cache.table || [];

        if (obj.type === 'all') {
          pageData.forEach(function(item) {
            if (obj.checked) {
              upsertSelectedUser(item);
            } else {
              removeSelectedUser(item);
            }
          });
        } else if (obj.checked) {
          upsertSelectedUser(obj.data);
        } else {
          removeSelectedUser(obj.data);
        }

        updateSelectedSummary();
      });

      form.on('submit(search)', function(data) {
        that.search(data.field);
        return false;
      });

      $form.find('a.layui-btn').on('click', function() {
        const event = $(this).data('event');

        that[event] && that[event]({ event: event, elem: this });
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      search: function(where) {
        table.reload('table', {page: {curr: 1}, where: where});
      },
      assign: function() {
        const users = getSelectedUsers();
        if (!users.length) {
          MyCuckoo.alert({ title: '提示', msg: '请至少选择一个用户!' });
          return;
        }

        closeDialog();
      },
      close: function() {
        $('#ID_selected_count').attr('users', '')

        closeDialog();
      }
    };

    new FormMgr();
  });
</script>
</html>
