<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统公告信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
    <input type="hidden" name="afficheId" />

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">公告标题</label>
        <div class="layui-input-inline">
          <input type="text" name="title" class="layui-input" lay-verify="required" maxlength="100" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">有效日期</label>
        <div class="layui-input-inline">
          <input type="text" name="invalidate" class="layui-input" lay-verify="required"/>
        </div>
      </div>
    </div>


    <div class="layui-form-item">
      <label class="layui-form-label">是否发布</label>
      <div class="layui-input-block">
        <input type="radio" name="publish" value="0" title="是" checked="">
        <input type="radio" name="publish" value="1" title="否">
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">公告正文</label>
      <div class="layui-input-block">
        <textarea name="content" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
      </div>
    </div>


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
      <legend>公告附件</legend>
    </fieldset>

    <div class="layui-upload">
      <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="ID_filePicker">添加文件</button>
      <button type="button" class="layui-btn layui-btn-sm" id="ID_uploadStart">开始上传</button>
      <div class="layui-upload-list">
        <table class="layui-table">
          <thead>
          <tr>
            <th>文件名</th>
            <th>大小</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody id="ID_fileList"></tbody>
        </table>
      </div>
    </div>


    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if(d.action != 'view') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="{{= d.action }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>保存
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form', 'laydate', 'upload'], function() {
    var $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      layDate = layui.laydate,
      upload = layui.upload,
      queryObj = MyCuckoo.getQueryObject(location.search),
      $form = $('form[name=editForm]');


    var $fileList = $('#ID_fileList');
    var accessories = [];

    var FormMgr = function () {
      //渲染操作按钮
      laytpl(ID_operator.innerHTML).render(queryObj, function(html) {
        $form.find('.toolbar').html(html);
      });

      //表单初始赋值
      if (queryObj.id) {
        var formMgr = this;
        if(queryObj.action == 'view') {
          $('#ID_filePicker').addClass('layui-hide');
          $('#ID_uploadStart').addClass('layui-hide');
        }

        $.get(api.afficheMgr.url + '/' + queryObj.id).then(function (json) {
          form.val('editForm', json.data);

          json.data.accessories.forEach(function(item, index) {
            var tr = $([
              '<tr>',
              '<td>',
              ' <input type="hidden" name="accessoryName" value="' + item.accessoryName + '">',
              ' <a href="' + api.fileMgr.url + '?business=document&filename=' + item.accessoryName + '" target="_blank">',
              ' <img src="' + formMgr.getThumbnail(item.accessoryName) + '">&nbsp;&nbsp;',
              ' <span>' + item.accessoryName + '</span>',
              ' </a>',
              '</td>',
              '<td></td>',
              '<td></td>',
              queryObj.action == 'view' ? '<td></td>' : '<td><button class="layui-btn layui-btn-xs layui-btn-danger btn-delete">删除</button></td>',
              '</tr>'
            ].join(''));

            //删除
            tr.find('.btn-delete').on('click', function () {
              formMgr.deleteAccessory(item.accessoryId);
              tr.remove();
            });

            $fileList.append(tr);
          });
        });
      }

      //日期
      layDate.render({
        elem: 'input[name=invalidate]'
      });

      this.init();

      var formMgr = this;
      //操作按钮触发事件
      var formMgr = this;
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type]($.extend({accessories: accessories}, data.field));

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      init: function() {
        var formMgr = this;

        //多文件列表示例
        var uploader = upload.render({
          elem: '#ID_filePicker',
          url: api.fileMgr.url,
          accept: 'file',
          multiple: true,
          auto: false,
          data: {business: 'document'},
          bindAction: '#ID_uploadStart',
          choose: function(obj) {
            var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
            //读取本地文件
            obj.preview(function(index, file, result) {
              var tr = $([
                '<tr id="ID_upload_'+ index +'">',
                '<td>',
                ' <img src="' + formMgr.getThumbnail(file.name) + '">&nbsp;&nbsp;',
                ' <span>' + file.name + '</span>',
                '</td>',
                '<td>' + (file.size / 1014).toFixed(1) + 'kb</td>',
                '<td>等待上传</td>',
                '<td>',
                ' <button class="layui-btn layui-btn-xs btn-upload layui-hide">上传</button>',
                ' <button class="layui-btn layui-btn-xs layui-btn-danger btn-delete">删除</button>',
                '</td>',
                '</tr>'
              ].join(''));

              //单个上传
              tr.find('.btn-upload').on('click', function(){
                obj.upload(index, file);
              });

              //删除
              tr.find('.btn-delete').on('click', function() {
                // files.splice(index, 1);
                delete files[index]; //删除对应的文件
                tr.remove();
                uploader.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
              });

              $fileList.append(tr);
            });
          },
          done: function(res, index, upload) {
            if(res.code == 0) { //上传成功
              accessories.push({accessoryName: this.files[index].name});

              var tr = $fileList.find('tr#ID_upload_'+ index),
                tds = tr.children();
              tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
              tds.eq(3).html(''); //清空操作
              return delete this.files[index]; //删除文件队列已经上传成功的文件
            }
            this.error(index, upload);
          },
          error: function(index, upload) {
            var tr = $fileList.find('tr#ID_upload_'+ index),
              tds = tr.children();
            tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
            tds.eq(3).find('.btn-upload').removeClass('layui-hide'); //显示重传
          }
        });
      },
      // 附件图标
      getThumbnail: function(filename) {
        var baseUrl = '../../static/images/button/';
        var splitFlag = filename.indexOf('_');
        filename = filename.substr(splitFlag + 1);
        var suffixName = filename.substr(filename.lastIndexOf('.') + 1);
        var imgPictureUrl = baseUrl + 'no-format.png';
        if (suffixName == 'docx' || suffixName == 'doc') {
          imgPictureUrl = baseUrl + 'word.png';
        } else if (suffixName == 'pdf') {
          imgPictureUrl = baseUrl + 'pdf.png';
        } else if (suffixName == 'pptx' || suffixName == 'ppt') {
          imgPictureUrl = baseUrl + 'powerpoint.png';
        } else if (suffixName == 'xlsx' || suffixName == 'xls') {
          imgPictureUrl = baseUrl + 'excel.png';
        }
        return imgPictureUrl;
      },
      add: function(data) {
        data.publish = (data.publish != 0)
        $.postJson(api.afficheMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      modify: function(data) {
        data.publish = (data.publish != 0)
        $.put(api.afficheMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      // 删除附件
      deleteAccessory: function(accessoryId) {
        $.delete(api.accessoryMgr.url + '/' + accessoryId, {}).then(json => {
          MyCuckoo.msg({msg: json.message});
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
          this.close();
        }, 2000);
      },
      //关闭当前iframe页
      close: function(ele) {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>