<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统编码信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.4.3/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/dtree.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/font/dtreefont.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
    <input type="hidden" name="codeId" />

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>系统编码参数</legend>
    </fieldset>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">英文编码</label>
        <div class="layui-input-inline">
          <input type="text" name="codeEngName" class="layui-input" lay-verify="required|alphanumeric" maxlength="20" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">中文编码</label>
        <div class="layui-input-inline">
          <input type="text" name="codeName" class="layui-input" lay-verify="required" maxlength="20" />
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">分隔符</label>
        <div class="layui-input-inline">
          <select name="delimite" lay-verify="required" lay-filter="calcCodeEffect">
            <option value="-">-</option>
            <option value="_">_</option>
            <option value=":">:</option>
            <option value="/">/</option>
            <option value="|">|</option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">模块名称</label>
        <div class="layui-input-inline">
          <input type="text" name="moduleName" class="layui-input" lay-verify="required" />
        </div>
        <a class="layui-btn layui-btn-primary layui-btn-sm layui-btn-radius" data-type="selectModule">
          <i class="layui-icon layui-icon-search"></i>
        </a>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">段数</label>
        <div class="layui-input-inline">
          <select name="partNum" lay-verify="required" lay-filter="calcCodeEffect">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">编码效果</label>
      <div class="layui-input-block">
        <input type="text" name="codeEffect" class="layui-input" readonly>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">编码备注</label>
      <div class="layui-input-block">
        <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
      </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>编码格式设置</legend>
    </fieldset>

    <div id="selector"></div>

    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.4.3/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="operator">
  <div class="layui-btn-group">
    {{# if(d.action == 'create') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="create" lay-submit="submit">
      <i class="layui-icon layui-icon-ok-circle"></i>保存
    </a>
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="reback">
      <i class="layui-icon layui-icon-return"></i>返回
    </a>
    {{# } else if(d.action == 'modify') { }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="update" lay-submit="submit">
      <i class="layui-icon layui-icon-ok-circle"></i>保存
    </a>
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="reback">
      <i class="layui-icon layui-icon-return"></i>返回
    </a>
    {{# } else if(d.action == 'view') { }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="reback">
      <i class="layui-icon layui-icon-return"></i>返回
    </a>
    {{# } }}
  </div>
</script>
<script type="text/javascript">
  function formatDate(format) {
    if (!format) return '';
    let d = new Date();
    if (format == 'yyyy') {
      return d.getFullYear();
    } else if (format == 'yyyyMM') {
      let month = d.getMonth() + 1;
      var monthStr = month < 10 ? '0' + month : month + '';
      return d.getFullYear() + '' + monthStr;
    } else if (format == 'yyyyMMdd') {
      let month = d.getMonth() + 1;
      var monthStr = month < 10 ? '0' + month : month + '';
      return d.getFullYear() + '' + monthStr + '' + d.getDate();
    } else if (format == 'userName') {
      return 'zhangsan';
    } else if (format == 'roleUser') {
      return '管理员~zhangsan';
    } else if (format == 'organRoleUser') {
      return '广州~管理员~zhangsan';
    } else {
      return format;
    }
  }

  //编码效果
  function calcCodeEffect() {
    let partNum = parseInt($('select[name=partNum]').val());
    let delimite = $('select[name=delimite]').val();
    let codePart1 = formatDate($('select[name=part1Con], input[name=part1Con]').val());
    let codePart2 = formatDate($('select[name=part2Con], input[name=part2Con]').val());
    let codePart3 = formatDate($('select[name=part3Con], input[name=part3Con]').val());
    let codePart4 = formatDate($('select[name=part4Con], input[name=part4Con]').val());

    let value;
    switch (partNum) {
      case 2:
        value = [codePart1, codePart2].join(delimite);
        break;
      case 3:
        value = [codePart1, codePart2, codePart3].join(delimite);
        break;
      case 4:
        value = [codePart1, codePart2, codePart3, codePart4].join(delimite);
        break;
      default:
        value = codePart1;
    }

    $('input[name=codeEffect]').val(value);
  }

  function PartSelector() {
    this.commonSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcSelector" target="{target}">',
      '<option value="char">字符</option>',
      '<option value="date">日期</option>',
      '<option value="number">序号</option>',
      '<option value="sysPara">系统参数</option>',
      '</select>'
    ].join('');

    this.dateSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcCodeEffect">',
      '<option value="yyyy">年(yyyy)</option>',
      '<option value="yyyyMM">年月(yyyyMM)</option>',
      '<option value="yyyyMMdd">年月日(yyyyMMdd)</option>',
      '</select>'
    ].join('');

    this.numberSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcCodeEffect">',
      '<option value="01">两位(01)</option>',
      '<option value="001">三位(001)</option>',
      '<option value="0001">四位(0001)</option>',
      '<option value="00001">五位(00001)</option>',
      '<option value="000001">六位(000001)</option>',
      '</select>'
    ].join('');

    this.sysParaSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcCodeEffect">',
      '<option value="userName">用户名</option>',
      '<option value="roleUser">角色+用户名</option>',
      '<option value="organRoleUser">机构+角色+用户名</option>',
      '</select>'
    ].join('');

    this.charSelector = '<input type="text" name="{placeholder}" class="layui-input" lay-verify="required" onchange="calcCodeEffect()"/>';
  }
  PartSelector.prototype.render = function (config) {
    if(!config.elem) {
      MyCuckoo.alert({title: '没有指定元素属性[elem]'});
      return;
    }

    let $wrapper = $(config.elem);
    if ($(config.elem).length === 0) {
      MyCuckoo.alert({title: '找不到元素: ' + config.elem});
      return;
    }

    [1, 2, 3, 4].forEach((item, index) => {
      let partName = 'part1',
        partTitle = '段一格式',
        partConName = 'part1Con',
        partConTitle = '段一内容';
      switch (item) {
        case 1:
          partName = 'part1';
          partTitle = '段一格式';
          partConName = 'part1Con';
          partConTitle = '段一内容';
          break;
        case 2:
          partName = 'part2';
          partTitle = '段二格式';
          partConName = 'part2Con';
          partConTitle = '段二内容';
          break;
        case 3:
          partName = 'part3';
          partTitle = '段三格式';
          partConName = 'part3Con';
          partConTitle = '段三内容';
          break;
        case 4:
          partName = 'part4';
          partTitle = '段四格式';
          partConName = 'part4Con';
          partConTitle = '段四内容';
          break;
      }

      let selector = [
        '<div class="layui-form-item">',
        '<div class="layui-inline">',
        '<label class="layui-form-label">' + partTitle + '</label>',
        '<div class="layui-input-inline">',
        this.commonSelector.replace('{placeholder}', partName).replace('{target}', partConName),
        '</div>',
        '</div>',
        '<div class="layui-inline">',
        '<label class="layui-form-label">' + partConTitle + '</label>',
        '<div class="layui-input-inline" >',
        this[(config.data && config.data[partName]) ? (config.data[partName] + 'Selector') : 'charSelector'].replace('{placeholder}', partConName),
        '</div>',
        '</div>',
        '</div>'
      ].join('');
      $wrapper.append(selector);

      let that = this;
      config.form.render('select');
      config.form.on('select(calcSelector)', function (data) {
        let target = $(data.elem).attr('target');
        $('[name=' + target + ']').parent().children().off().parent().empty()
          .html(that[data.value + 'Selector'].replace('{placeholder}', data.elem.name + 'Con'));
        config.form.render('select');
        calcCodeEffect();
      });
      config.form.on('select(calcCodeEffect)', function (data) {
        calcCodeEffect();
      });
    });
  }
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  let $ = null;
  layui.use(['jquery', 'laytpl', 'form', 'dtree'], function() {
    $ = layui.jquery;
    let laytpl = layui.laytpl,
      form = layui.form,
      tree = layui.dtree,
      queryObj = MyCuckoo.getQueryObject(location.search);


    let FormMgr = function () {
      //渲染操作按钮
      laytpl(operator.innerHTML).render(queryObj, function(html) {
        $('.toolbar').html(html);
      });

      //表单初始赋值
      if (queryObj.id) {
        $.get(api.codeMgr.url + '/' + queryObj.id).then(json => {
          new PartSelector().render({elem: '#selector', data: json.data, form: form});

          form.val('editForm', json.data);
        });
      } else {
        new PartSelector().render({elem: '#selector', form: form});
      }

      //操作按钮触发事件
      let formMgr = this;
      $('form a.layui-btn[lay-submit!=submit]').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](data.field);

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      openTree(url, config) {
        let fillForm = function(data) {
          let valObj =  {};
          for (let p in config) {
            if (typeof p == 'string') {
              valObj[config[p]] = data[p];
            }
          }
          form.val('editForm', valObj);
        }

        layer.open({
          type: 1,
          title: "选择模块",
          area: ['400px', '80%'],
          content: '<ul id="tree" class="dtree" data-id="0"></ul>',
          btn: ['确认选择'],
          success: function(layero, index){
            let treeObj = tree.render({
              elem: '#tree',
              method: 'get',
              type: 'all',
              url: MyCuckoo.resolvePlaceholder(url, {id: 0}),
              dataStyle: 'layuiStyle',
              response: { statusCode: 0, treeId: 'id', title: 'text', isLast: 'isLeaf', checkArr: 'checkBox'},
              checkbar: true,
              dot: false,
              icon: ['-1', '1']
            });
            tree.on('nodedblclick(tree)', function(obj) {
              let data = obj.param;
              if(data.isLeaf) {
                return;
              }

              fillForm(data);
              layer.close(index);
            })
          },
          yes: function(index, layero) {
            var param = tree.getNowParam('tree');

            if(!param.nodeId) {
              MyCuckoo.alert({msg: '请选择一个模块'});
              return;
            }

            fillForm(param);
            layer.close(index);
          }
        });
      },
      selectModule() {
        this.openTree(api.moduleMgr.childNodesUrl, {context: 'moduleName'});
      },
      create(data) {
        $.postJson(api.codeMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      update(data) {
        $.put(api.codeMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      //刷新父窗
      refresh() {
        setTimeout(function() {
          parent.location.reload();
          this.reback();
        }, 2000);
      },
      //关闭当前iframe页
      reback(ele) {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>