<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>字典信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.13/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
    <input type="hidden" name="bigTypeId" />

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">编码</label>
        <div class="layui-input-inline">
          <input type="text" name="code" class="layui-input" lay-verify="required|alphanumeric" maxlength="15" />
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-inline">
            <input type="text" name="name" class="layui-input" lay-verify="required" maxlength="20" />
          </div>
        </div>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
      </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
      <legend>项目</legend>
    </fieldset>

    <div class="dic-small-type">
      <a class="layui-btn layui-btn-xs layui-btn-warm layui-hide" data-event="addRow">
        <i class="layui-icon layui-icon-addition"></i>添加
      </a>
      <table class="layui-table">
        <thead>
        <tr>
          <th>编码</th>
          <th>名称</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody id="ID_mycuckoo_dict_small_type_content"></tbody>
      </table>
    </div>

    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.13/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if((d.group & 8) === 8) { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-event="{{= d.code }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>{{= d.name }}
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-event="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form'], function() {
    var $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search),
      operator = MyCuckoo.getOperation(queryObj.opt),
      operatorMap = MyCuckoo.getDictMap(operator),
      action = operatorMap[queryObj.action],
      $form = $('form[name=editForm]');

    var FormMgr = function() {
      if (action.code !== 'dictionaryMgr:view') {
        $form.find('a[data-event=addRow]').removeClass('layui-hide');
      }

      //渲染操作按钮
      laytpl(ID_operator.innerHTML).render(action, function(html) {
        $form.find('.toolbar').html(html);
      });

      //表单初始赋值
      if (queryObj.id && action) {
        $.request(operatorMap['dictionaryMgr:view'], queryObj).then(function(json) {
          form.val('editForm', json.data);

          formMgr.smallTypeGrid(json.data.smallTypes);

          if (action.code === 'dictionaryMgr:view') {
            $form.find('input, select, textarea').attr('disabled', 'disabled')
          }
        });
      }

      var formMgr = this;
      //操作按钮触发事件
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var event = $(this).data('event');
        formMgr['execute']({event: event, elem: this});
      });

      //监听提交
      form.on('submit', function(data) {
        var event = $(this).data('event');
        formMgr['execute']({event: event, data: data.field});

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      index: 0,
      execute: function(obj) {
        var arr = obj.event.split(':');
        var event = arr[arr.length - 1];

        this[event] && this[event](obj);
      },
      smallTypeGrid: function(smallTypes) {
        var that = this;
        var $ele = $form.find('#ID_mycuckoo_dict_small_type_content');
        smallTypes.forEach(function(item, index) {
          if (action.code === 'dictionaryMgr:view') {
            var tr = $([
              '<tr>',
              '<td>' + item.code + '</td>',
              '<td>' + item.name + '</td>',
              '<td></td>',
              '</tr>'
            ].join(''));

            $ele.append(tr);
          } else {
            var tr = $([
              '<tr>',
              '<td>',
              item.smallTypeId ? ' <input type="hidden" name="smallTypeId[' + that.index + ']" value="' + item.smallTypeId + '">' : '',
              ' <input type="text" name="code[' + that.index + ']" value="' + item.code + '" class="layui-input" lay-verify="required" maxlength="20">',
              '</td>',
              '<td>',
              ' <input type="text" name="name[' + that.index + ']" value="' + item.name + '" class="layui-input" lay-verify="required|alphanumeric" maxlength="10">',
              '</td>',
              '<td><button class="layui-btn layui-btn-xs layui-btn-danger btn-delete">删除</button></td>',
              '</tr>'
            ].join(''));

            //删除
            tr.find('.btn-delete').on('click', function () {
              tr.remove();
            });

            $ele.append(tr);
            that.index++;
          }
        });
      },
      addRow: function(ele) {
        this.smallTypeGrid([{name: '', code: ''}]);
      },
      convert: function(data) {
        var reg = /(\w+)\[(\w+)\]/;
        var obj = {};
        //处理name[key]=value => {key: {name: value}}
        for (var p in data) {
          if (reg.test(p)) {
            var arr = reg.exec(p);
            if(!obj[arr[2]]) {
              obj[arr[2]] = {}
            }
            obj[arr[2]][arr[1]] = data[p];
            delete data[p];
          }
        }
        data.smallTypes = [];
        for (var p in obj) {
          data.smallTypes.push(obj[p]);
        }

        return data;
      },
      add: function(obj) {
        $.request(action, this.convert(obj.data)).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      modify: function(obj) {
        $.request(action, this.convert(obj.data)).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>