<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>地区信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.13/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/dtree.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/font/dtreefont.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
    <input type="hidden" name="districtId" />

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">地区名称</label>
        <div class="layui-input-inline">
          <input type="text" name="name" class="layui-input" lay-verify="required" maxlength="10" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">地区代码</label>
        <div class="layui-input-inline">
          <input type="text" name="code" class="layui-input" lay-verify="required|alphanumeric" maxlength="10" />
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">地区邮编</label>
        <div class="layui-input-inline">
          <input type="text" name="postal" class="layui-input" lay-verify="number" maxlength="6" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话区号</label>
        <div class="layui-input-inline">
          <input type="text" name="telcode" class="layui-input" lay-verify="number" maxlength="10" />
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">地区级别</label>
        <div class="layui-input-inline">
          <select name="level" lay-verify="required">
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">上级地区</label>
        <div class="layui-input-inline">
          <div class="layui-input-wrap">
            <input type="hidden" name="parentId" />
            <input type="text" name="parentName" class="layui-input" lay-affix="search"
                   data-event="selectDistrict" lay-filter="selectDistrict" lay-verify="required" readonly />
          </div>
        </div>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
      </div>
    </div>

    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.13/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if((d.group & 8) === 8) { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-event="{{= d.code }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>{{= d.name }}
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-event="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  function formatDate(format) {
    if (!format) return '';
    var d = new Date();
    if (format == 'yyyy') {
      return d.getFullYear();
    } else if (format == 'yyyyMM') {
      var month = d.getMonth() + 1;
      var monthStr = month < 10 ? '0' + month : month + '';
      return d.getFullYear() + '' + monthStr;
    } else if (format == 'yyyyMMdd') {
      var month = d.getMonth() + 1;
      var monthStr = month < 10 ? '0' + month : month + '';
      return d.getFullYear() + '' + monthStr + '' + d.getDate();
    } else if (format == 'userName') {
      return 'zhangsan';
    } else if (format == 'roleUser') {
      return '管理员~zhangsan';
    } else if (format == 'organRoleUser') {
      return '广州~管理员~zhangsan';
    } else {
      return format;
    }
  }

  //编码效果
  function calcCodeEffect() {
    var partNum = parseInt($('select[name=partNum]').val());
    var delimite = $('select[name=delimite]').val();
    var codePart1 = formatDate($('select[name=part1Con], input[name=part1Con]').val());
    var codePart2 = formatDate($('select[name=part2Con], input[name=part2Con]').val());
    var codePart3 = formatDate($('select[name=part3Con], input[name=part3Con]').val());
    var codePart4 = formatDate($('select[name=part4Con], input[name=part4Con]').val());

    var value;
    switch (partNum) {
      case 2:
        value = [codePart1, codePart2].join(delimite);
        break;
      case 3:
        value = [codePart1, codePart2, codePart3].join(delimite);
        break;
      case 4:
        value = [codePart1, codePart2, codePart3, codePart4].join(delimite);
        break;
      default:
        value = codePart1;
    }

    $('input[name=codeEffect]').val(value);
  }

  function PartSelector() {
    this.commonSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcSelector" target="{target}">',
      '<option value="char">字符</option>',
      '<option value="date">日期</option>',
      '<option value="number">序号</option>',
      '<option value="sysPara">系统参数</option>',
      '</select>'
    ].join('');

    this.dateSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcCodeEffect">',
      '<option value="yyyy">年(yyyy)</option>',
      '<option value="yyyyMM">年月(yyyyMM)</option>',
      '<option value="yyyyMMdd">年月日(yyyyMMdd)</option>',
      '</select>'
    ].join('');

    this.numberSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcCodeEffect">',
      '<option value="01">两位(01)</option>',
      '<option value="001">三位(001)</option>',
      '<option value="0001">四位(0001)</option>',
      '<option value="00001">五位(00001)</option>',
      '<option value="000001">六位(000001)</option>',
      '</select>'
    ].join('');

    this.sysParaSelector = [
      '<select name="{placeholder}" lay-verify="required" lay-filter="calcCodeEffect">',
      '<option value="userName">用户名</option>',
      '<option value="roleUser">角色+用户名</option>',
      '<option value="organRoleUser">机构+角色+用户名</option>',
      '</select>'
    ].join('');

    this.charSelector = '<input type="text" name="{placeholder}" class="layui-input" lay-verify="required" onchange="calcCodeEffect()"/>';
  }
  PartSelector.prototype.render = function (config) {
    if(!config.elem) {
      MyCuckoo.alert({title: '没有指定元素属性[elem]'});
      return;
    }

    var $wrapper = $(config.elem);
    if ($(config.elem).length === 0) {
      MyCuckoo.alert({title: '找不到元素: ' + config.elem});
      return;
    }

    [1, 2, 3, 4].forEach((item, index) => {
      var partName = 'part1',
        partTitle = '段一格式',
        partConName = 'part1Con',
        partConTitle = '段一内容';
      switch (item) {
        case 1:
          partName = 'part1';
          partTitle = '段一格式';
          partConName = 'part1Con';
          partConTitle = '段一内容';
          break;
        case 2:
          partName = 'part2';
          partTitle = '段二格式';
          partConName = 'part2Con';
          partConTitle = '段二内容';
          break;
        case 3:
          partName = 'part3';
          partTitle = '段三格式';
          partConName = 'part3Con';
          partConTitle = '段三内容';
          break;
        case 4:
          partName = 'part4';
          partTitle = '段四格式';
          partConName = 'part4Con';
          partConTitle = '段四内容';
          break;
      }

      var selector = [
        '<div class="layui-form-item">',
        '<div class="layui-inline">',
        '<label class="layui-form-label">' + partTitle + '</label>',
        '<div class="layui-input-inline">',
        this.commonSelector.replace('{placeholder}', partName).replace('{target}', partConName),
        '</div>',
        '</div>',
        '<div class="layui-inline">',
        '<label class="layui-form-label">' + partConTitle + '</label>',
        '<div class="layui-input-inline" >',
        this[(config.data && config.data[partName]) ? (config.data[partName] + 'Selector') : 'charSelector'].replace('{placeholder}', partConName),
        '</div>',
        '</div>',
        '</div>'
      ].join('');
      $wrapper.append(selector);

      var that = this;
      config.form.render('select');
      config.form.on('select(calcSelector)', function (data) {
        var target = $(data.elem).attr('target');
        $('[name=' + target + ']').parent().children().off().parent().empty()
          .html(that[data.value + 'Selector'].replace('{placeholder}', data.elem.name + 'Con'));
        config.form.render('select');
        calcCodeEffect();
      });
      config.form.on('select(calcCodeEffect)', function (data) {
        calcCodeEffect();
      });
    });
  }
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  var $ = null;
  layui.use(['jquery', 'laytpl', 'form', 'dtree'], function() {
    $ = layui.jquery;
    var laytpl = layui.laytpl,
      form = layui.form,
      tree = layui.dtree,
      queryObj = MyCuckoo.getQueryObject(location.search),
      operator = MyCuckoo.getOperation(queryObj.opt),
      operatorMap = MyCuckoo.getDictMap(operator),
      action = operatorMap[queryObj.action],
      $form = $('form[name=editForm]');

    var FormMgr = function() {
      //渲染操作按钮
      laytpl(ID_operator.innerHTML).render(action, function(html) {
        $form.find('.toolbar').html(html);
      });

      //初始化
      MyCuckoo.api.getDict({typeCodes: 'district'}).then(function(json) {
        var $select = $form.find('select[name=level]').empty();

        var dict = json.data['district'];
        for (var i = 0; i < dict.length; i++) {
          var item = dict[i];
          $select.append('<option value="' + item.code + '">' + item.name + '</option>');
        }
        form.render('select');

        //表单初始赋值
        if (queryObj.id && action) {
          $.request(operatorMap['res:districtMgr:view'], queryObj).then(json => {
            form.val('editForm', json.data);

            if (action.code === 'res:districtMgr:view') {
              $form.find('input, select, textarea').attr('disabled', 'disabled')
            }
          });
        }
      });

      var formMgr = this;
      //操作按钮触发事件
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var event = $(this).data('event');
        formMgr['execute']({event: event, elem: this});
      });

      form.on('input-affix', function(data) {
        var elem = data.elem; // 获取输入框 DOM 对象
        var affix = data.affix; // 获取输入框 lay-affix 属性值
        var event = $(elem).data('event');
        $(elem).attr('disabled') != 'disabled' && formMgr['execute']({event: event, elem: this});
      });

      //监听提交
      form.on('submit', function(data) {
        var event = $(this).data('event');
        formMgr['execute']({event: event, data: data.field});

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      execute: function(obj) {
        var arr = obj.event.split(':');
        var event = arr[arr.length - 1];

        this[event] && this[event](obj);
      },
      openTree: function(url, config) {
        var fillForm = function(data) {
          var valObj =  {};
          for (var p in config) {
            if (typeof p == 'string') {
              valObj[config[p]] = data[p];
            }
          }
          form.val('editForm', valObj);
        }

        layer.open({
          type: 1,
          title: "选择地区",
          area: ['400px', '80%'],
          content: '<ul id="ID_tree" class="dtree" data-id="0"></ul>',
          btn: ['确认选择'],
          success: function(layero, index){
            var treeObj = tree.render({
              elem: '#ID_tree',
              method: 'get',
              type: 'all',
              url: MyCuckoo.resolvePlaceholder(url, {id: -1}),
              dataStyle: 'layuiStyle',
              response: { statusCode: 0, treeId: 'id', title: 'text', isLast: 'isLeaf', checkArr: 'checkbox'},
              checkbar: true,
              dot: false,
              icon: ['-1', '1']
            });
            tree.on('nodedblclick(tree)', function(obj) {
              var data = obj.param;
              if(data.isLeaf) {
                return;
              }

              fillForm(data);
              layer.close(index);
            })
          },
          yes: function(index, layero) {
            var param = tree.getNowParam('ID_tree');

            if(!param.nodeId) {
              MyCuckoo.alert({msg: '请选择一个地区'});
              return;
            }

            fillForm(param);
            layer.close(index);
          }
        });
      },
      selectDistrict: function(obj) {
        var action = operatorMap['res:districtMgr:tree'];
        if (!action) {
          MyCuckoo.msg({msg: '无权访问此资源'});
          return;
        }

        this.openTree(MyCuckoo.api.host + action.path, {nodeId: 'parentId', context: 'parentName'});
      },
      add: function(obj) {
        $.request(action, obj.data).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      modify: function(obj) {
        $.request(action, obj.data).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>