<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>模块信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/dtree.css" rel="stylesheet" />
  <link type="text/css" href="../../static/dtree/css/font/dtreefont.css" rel="stylesheet" />
</head>
<body>
  <div class="mycuckoo-main">
    <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
      <input type="hidden" name="moduleId" />
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-inline">
            <input type="text" name="name" class="layui-input" lay-verify="required" maxlength="10" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">编码</label>
          <div class="layui-input-inline">
            <input type="text" name="code" class="layui-input" lay-verify="required" maxlength="40" />
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">所属系统</label>
          <div class="layui-input-inline">
            <select name="belongSys" lay-verify="required">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">上级模块</label>
          <div class="layui-input-inline">
            <div class="layui-input-wrap">
              <input type="hidden" name="parentId" />
              <input type="text" name="parentName" class="layui-input" lay-affix="search"
                     data-type="selectModule" lay-filter="selectModule" lay-verify="required" readonly />
            </div>
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">图标样式</label>
          <div class="layui-input-inline">
            <input type="text" name="iconCls" class="layui-input" lay-verify="alphanumeric" />
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">页面类型</label>
          <div class="layui-input-inline">
            <select name="pageType" lay-verify="required">
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>

      <div class="layui-form-item">
        <!--<div class="layui-inline">
          <label class="layui-form-label">级别</label>
          <div class="layui-input-inline">
            <select name="level" lay-verify="required">
              <option value="1">第一</option>
              <option value="2">第二</option>
              <option value="3">第三</option>
            </select>
          </div>
        </div>-->
        <div class="layui-inline">
          <label class="layui-form-label">顺序</label>
          <div class="layui-input-inline">
            <select name="order" lay-verify="required">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
            </select>
          </div>
        </div>
      </div>

      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
          <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
        </div>
      </div>

      <div class="toolbar"></div>
    </form>
  </div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if(d.action != 'view') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="{{= d.action }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>保存
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form', 'dtree'], function() {
    var $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      layer = layui.layer,
      tree = layui.dtree,
      queryObj = MyCuckoo.getQueryObject(location.search),
      $form = $('form[name=editForm]');

    var FormMgr = function () {
      //渲染操作按钮
      laytpl(ID_operator.innerHTML).render(queryObj, function(html) {
        $form.find('.toolbar').html(html);
      });

      //初始化
      $.get(api.dictionaryMgr.smallTypeUrl, {bigTypeCode: 'systemType'}).then(function(json) {
        var $select = $form.find('select[name=belongSys]');
        $select.empty();
        for (var i = 0; i < json.data.length; i++) {
          var item = json.data[i];
          $select.append('<option value="' + item.code + '">' + item.name + '</option>');
        }
        form.render('select');

        $.get(api.dictionaryMgr.smallTypeUrl, {bigTypeCode: 'modPageType'}).then(function(json) {
          var $select = $form.find('select[name=pageType]');
          $select.empty();
          for (var i = 0; i < json.data.length; i++) {
            var item = json.data[i];
            $select.append('<option value="' + item.code + '">' + item.name + '</option>');
          }
          form.render('select');

          //表单初始赋值
          initForm();
        });
      });

      //操作按钮触发事件
      var formMgr = this;
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      form.on('input-affix', function(data) {
        var elem = data.elem; // 获取输入框 DOM 对象
        var affix = data.affix; // 获取输入框 lay-affix 属性值
        var type = $(elem).data('type');
        $(elem).attr('disabled') != 'disabled' && formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](data.field);

        return false;
      });
    }

    //表单初始赋值
    function initForm() {
      if (queryObj.id) {
        $.get(api.moduleMgr.url + '/' + queryObj.id).then(json => {
          form.val('editForm', json.data);

          if (queryObj.action == 'view') {
            $form.find('input, select, textarea').attr('disabled', 'disabled')
          }
        });
      }
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      openTree: function(url, config) {
        var fillForm = function(data) {
          var valObj =  {};
          for (var p in config) {
            if (typeof p == 'string') {
              valObj[config[p]] = data[p];
            }
          }
          form.val('editForm', valObj);
        }

        layer.open({
          type: 1,
          title: "选择上级模块",
          area: ['400px', '80%'],
          content: '<ul id="ID_tree" class="dtree" data-id="0"></ul>',
          btn: ['确认选择'],
          success: function(layero, index){
            var treeObj = tree.render({
              elem: '#ID_tree',
              method: 'get',
              type: 'all',
              url: MyCuckoo.resolvePlaceholder(url, {id: 0}),
              dataStyle: 'layuiStyle',
              response: { statusCode: 0, treeId: 'id', title: 'text', isLast: 'isLeaf', checkArr: 'checkbox'},
              checkbar: true,
              dot: false,
              icon: ['-1', '1']
            });
            tree.on('nodedblclick(tree)', function(obj) {
              var data = obj.param;
              if(data.isLeaf) {
                return;
              }

              fillForm(data);
              layer.close(index);
            })
          },
          yes: function(index, layero) {
            var param = tree.getNowParam('ID_tree');

            if(!param.nodeId) {
              MyCuckoo.alert({msg: '请选择一个模块'});
              return;
            }

            fillForm(param);
            layer.close(index);
          }
        });
      },
      selectModule: function(ele) {
        this.openTree(api.moduleMgr.childNodesUrl, {nodeId: 'parentId', context: 'parentName'});
      },
      add(data) {
        $.postJson(api.moduleMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      modify: function(data) {
        $.put(api.moduleMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
          this.close();
        }, 2000);
      },
      //关闭当前iframe页
      close: function(ele) {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>