<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分配角色</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.13/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />

  <!-- 标签风格 -->
  <style>
    .layui-form-radio>.lay-skin-tag,
    .layui-form-checkbox>.lay-skin-tag {
      font-size: 13px;
      border-radius: 100px;
    }
    .layui-form-checked>.lay-skin-tag,
    .layui-form-radioed>.lay-skin-tag {
      color: #fff !important;
      background-color: #16b777 !important;
    }
  </style>
</head>
<body>
<div class="mycuckoo-main">
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>模块名称</legend>
  </fieldset>

  <form class="layui-form layui-form-pane" name="editForm">
    <div class="layui-form-item">
      <label class="layui-form-label">请选择操作</label>
      <div id="ID_mycuckoo-tag" class="layui-input-block">

      </div>
    </div>

    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.13/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if((d.group & 8) === 8) { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-event="{{= d.code }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>{{= d.name }}
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-event="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form'], function() {
    var $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search),
      operator = MyCuckoo.getOperation(queryObj.opt),
      operatorMap = MyCuckoo.getDictMap(operator),
      action = operatorMap[queryObj.action],
      $form = $('form[name=editForm]');

    var FormMgr = function () {
      //渲染操作按钮
      laytpl(ID_operator.innerHTML).render(action || {}, function(html) {
        $form.find('.toolbar').html(html);
      });

      //表单初始赋值
      if (!queryObj.id) {
        MyCuckoo.alert({title: '提示', msg: '请选择模块!'});
        return;
      } else {
        $form.parent().find('legend').text(queryObj.name);

        $.request(operatorMap['res:moduleMgr:optSelector'], queryObj).then(function(json) {
          var data = json.data.source;
          var assign = json.data.assign || [];
          var $checkbox = $('<div></div>');
          for (var i = 0; i < data.length; i++) {
            var item = data[i];
            var checked = (assign.indexOf(parseInt(item.id)) >= 0) ? 'checked' : '';
            $checkbox.append('' +
                '<input type="checkbox" name="optIds[' + i + ']" lay-skin="none" value="' + item.id + '" ' + checked + '>' +
                '<div lay-checkbox class="lay-skin-tag layui-badge">' + item.text + '</div>' +
                ''
            );
          }
          $checkbox.appendTo($('#ID_mycuckoo-tag'))
          form.render('checkbox');
        });
      }

      //操作按钮触发事件
      var formMgr = this;
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var event = $(this).data('event');
        formMgr['execute']({event: event, elem: this});
      });

      //监听提交
      form.on('submit', function(data) {
        var event = $(this).data('event');
        formMgr['execute']({event: event, data: $.extend({}, data.field, queryObj)});

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      execute: function(obj) {
        var arr = obj.event.split(':');
        var event = arr[arr.length - 1];

        this[event] && this[event](obj);
      },
      //保存模块操作
      assignOpt(obj) {
        var data = obj.data;
        var optIds = []
        for (var p in data) {
          if (p.indexOf('optIds') == 0) {
            optIds.push(data[p]);
          }
        }
        if(!optIds.length) {
          MyCuckoo.alert({ title : '提示', msg : '请选择操作!' });
          return;
        }

        $.request(action, data, optIds).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.close();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
      //end
    }

    new FormMgr();
    //end
  });

</script>
</html>