<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>操作信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.4.3/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
    <input type="hidden" name="operateId" />
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">操作名称</label>
        <div class="layui-input-inline">
          <input type="text" name="optName" class="layui-input" lay-verify="required" maxlength="10" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">图标</label>
        <div class="layui-input-inline">
          <input type="text" name="optIconCls" class="layui-input" lay-verify="required|alphanumeric" maxlength="20" />
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">功能链接</label>
        <div class="layui-input-inline">
          <input type="text" name="optLink" class="layui-input" lay-verify="required" maxlength="10" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">操作顺序</label>
        <div class="layui-input-inline">
          <select name="optOrder" lay-verify="required">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">操作组</label>
        <div class="layui-input-inline">
          <select name="optGroup" lay-verify="required">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
      </div>
    </div>

    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.4.3/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="operator">
  <div class="layui-btn-group">
    {{# if(d.action == 'create') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="create" lay-submit="submit">
      <i class="layui-icon layui-icon-ok-circle"></i>保存
    </a>
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="reback">
      <i class="layui-icon layui-icon-return"></i>返回
    </a>
    {{# } else if(d.action == 'modify') { }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="update" lay-submit="submit">
      <i class="layui-icon layui-icon-ok-circle"></i>保存
    </a>
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="reback">
      <i class="layui-icon layui-icon-return"></i>返回
    </a>
    {{# } else if(d.action == 'view') { }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="reback">
      <i class="layui-icon layui-icon-return"></i>返回
    </a>
    {{# } }}
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form'], function() {
    let $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search);

    let FormMgr = function () {
      //渲染操作按钮
      laytpl(operator.innerHTML).render(queryObj, function(html) {
        $('.toolbar').html(html);
      });

      //表单初始赋值
      if (queryObj.id) {
        $.get(api.operateMgr.url + '/' + queryObj.id).then(json => {
          form.val('editForm', json.data);
        });
      }

      //操作按钮触发事件
      let formMgr = this;
      $('form a.layui-btn[lay-submit!=submit]').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](data.field);

        return false;
      });
    }


    FormMgr.prototype = {
      constructor: FormMgr,
      create(data) {
        $.postJson(api.operateMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      update(data) {
        $.put(api.operateMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      //刷新父窗
      refresh() {
        setTimeout(function() {
          parent.location.reload();
          this.reback();
        }, 2000);
      },
      //关闭当前iframe页
      reback(ele) {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>