<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>资源信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
    <input type="hidden" name="resourceId" />
    <input type="hidden" name="moduleId" required/>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
          <input type="text" name="name" class="layui-input" lay-verify="required" maxlength="10" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">方法</label>
        <div class="layui-input-inline">
          <select name="method" lay-verify="required">
            <option value="get">GET</option>
            <option value="post">POST</option>
            <option value="put">PUT</option>
            <option value="delete">DELETE</option>
          </select>
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">url</label>
      <div class="layui-input-block">
        <input type="text" name="path" class="layui-input" lay-verify="required" maxlength="100" />
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">操作顺序</label>
        <div class="layui-input-inline">
          <select name="order" lay-verify="required">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">操作按钮</label>
        <div class="layui-input-inline">
          <select name="operateId" lay-search="" lay-verify="required">

          </select>
        </div>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
      </div>
    </div>

    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if(d.action != 'view') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="{{= d.action }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>保存
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'laytpl', 'form'], function() {
    var $ = layui.jquery,
      laytpl = layui.laytpl,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search),
      $form = $('form[name=editForm]');

    var FormMgr = function () {
      //渲染操作按钮
      laytpl(ID_operator.innerHTML).render(queryObj, function(html) {
        $form.find('.toolbar').html(html);
      });

      //初始化
      $.get(api.moduleMgr.operationUrl, {id: queryObj.moduleId}).then(function(json) {
        var $select = $form.find('select[name=operateId]');
        $select.empty();
        $select.append('<option value="">请选择或搜索</option>');
        for (var i = 0; i < json.data.source.length; i++) {
          var item = json.data.source[i];
          $select.append('<option value="' + item.id + '">' + item.text + '</option>');
        }
        form.render('select');

        initForm();
      });

      //操作按钮触发事件
      var formMgr = this;
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](data.field);

        return false;
      });
    }

    //表单初始赋值
    function initForm() {
      if (queryObj.id) {
        $.get(api.resourceMgr.url + '/' + queryObj.id).then(json => {
          json.data.moduleId = queryObj.moduleId;
          form.val('editForm', json.data);

          if (queryObj.action == 'view') {
            $form.find('input, select, textarea').attr('disabled', 'disabled')
          }
        });
      } else {
        form.val('editForm', {moduleId: queryObj.moduleId});
      }
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      add: function(data) {
        $.postJson(api.resourceMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      modify: function(data) {
        $.put(api.resourceMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
          this.close();
        }, 2000);
      },
      //关闭当前iframe页
      close: function(ele) {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>