<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统参数信息</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <form class="layui-form layui-form-pane" name="editForm" lay-filter="editForm">
    <input type="hidden" name="paraId" />

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">参数名称</label>
        <div class="layui-input-inline">
          <input type="text" name="name" class="layui-input" lay-verify="required" maxlength="20" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">参数键</label>
        <div class="layui-input-inline">
          <input type="text" name="key" class="layui-input" lay-verify="required" maxlength="20" />
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">参数键值</label>
        <div class="layui-input-inline">
          <input type="text" name="value" class="layui-input" />
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">系统类别</label>
        <div class="layui-input-inline">
          <select name="type" lay-verify="required">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <textarea name="memo" class="layui-textarea" placeholder="请输入内容" maxlength="50" ></textarea>
      </div>
    </div>

    <div class="toolbar"></div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_operator">
  <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
    {{# if(d.action != 'view') { }}
    <a href="javascript: " class="layui-btn layui-btn-sm" data-type="{{= d.action }}" lay-submit>
      <i class="layui-icon layui-icon-ok"></i>保存
    </a>
    {{# } }}
    <a href="javascript:" class="layui-btn layui-btn-sm" data-type="close">
      <i class="layui-icon layui-icon-close"></i>关闭
    </a>
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  var $ = null;
  layui.use(['jquery', 'laytpl', 'form'], function() {
    $ = layui.jquery;
    var laytpl = layui.laytpl,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search),
      $form = $('form[name=editForm]');

    var FormMgr = function() {
      //渲染操作按钮
      laytpl(ID_operator.innerHTML).render(queryObj, function(html) {
        $form.find('.toolbar').html(html);
      });

      //初始化
      $.get(api.dictionaryMgr.smallTypeUrl, {bigTypeCode: 'systemType'}).then(function(json) {
        var $select = $form.find('select[name=type]');
        $select.empty();

        for (var i = 0; i < json.data.length; i++) {
          var item = json.data[i];
          $select.append('<option value="' + item.code + '">' + item.name + '</option>');
        }
        form.render('select');

        //表单初始赋值
        if (queryObj.id) {
          if(queryObj.action != 'create') {
            $form.find('input[name=key]').attr('readonly', true);
          }

          $.get(api.systemParameterMgr.url + '/' + queryObj.id).then(function(json) {
            form.val('editForm', json.data);

            if (queryObj.action == 'view') {
              $form.find('input, select, textarea').attr('disabled', 'disabled')
            }
          });
        }
      });

      var formMgr = this;
      //操作按钮触发事件
      $form.find('a.layui-btn:not([lay-submit])').on('click', function() {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](this);
      });

      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](data.field);

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      add: function(data) {
        $.postJson(api.systemParameterMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      modify: function(data) {
        $.put(api.systemParameterMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.message});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function(ele) {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    //end
  });
</script>
</html>