<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统平台</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-site-nav">
  <span class="right">
    <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon layui-icon-refresh"></i>
    </a>
  </span>
</div>

<div class="mycuckoo-main" style="overflow: auto">
  <div class="layui-row">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">系统名称</label>
              <div class="layui-input-inline">
                <input type="text" name="systemName" class="layui-input" lay-verify="required" maxlength="30" />
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-type="saveName" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">管理员列表</label>
              <div class="layui-input-block">
                <select name="systemMgr"></select>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-type="addAdmin" lay-submit="submit">增加
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
                <a href="javascript:" class="layui-btn layui-btn-sm" data-type="delAdmin" lay-submit="submit">删除
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="layui-row">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">日志级别</label>
              <div class="layui-input-block">
                <input type="radio" name="loggerLevel" value="1" title="增、删、改">
                <input type="radio" name="loggerLevel" value="2" title="删、改、其它">
                <input type="radio" name="loggerLevel" value="3" title="删、其它">
                <input type="radio" name="loggerLevel" value="0" title="关闭">
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-type="saveLogLevel" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">保留天数</label>
              <div class="layui-input-block">
                <select name="logRecordKeepDays">
                  <option value="-1">不设置</option>
                  <option value="3">3天</option>
                  <option value="7">7天</option>
                  <option value="15">15天</option>
                  <option value="30">30天</option>
                  <option value="60">60天</option>
                  <option value="90">90天</option>
                  <option value="180">180天</option>
                  <option value="360">360天</option>
                </select>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-type="saveLogKeepDays" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="layui-row">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">监控设置</label>
              <div class="layui-input-block">
                <b>windows tomcat监控,在catalina.bat加入:</b><br>
                <code>set JAVA_HOME=C:\Program Files\Java\jdk1.6.0_18</code><br>
                <code>set PATH=%PATH%;%JAVA_HOME%\bin</code><br>
                <code>set CLASSPATH=%CLASSPATH%;%JAVA_HOME%</code><br>
                <code>set JAVA_OPTS=%JAVA_OPTS%</code><br>
                <code>-Dcom.sun.management.jmxremote</code><br>
                <code>-Dsun.io.useCanonCaches=false</code><br>
                <code>-Dcom/sun/management/jmxremote/port=9999</code><br>
                <code>-Dcom/sun/management/jmxremote/ssl=false</code><br>
                <code>-Dcom/sun/management/jmxremote/authenticate=false</code><br>
                <code>-Xms512m -Xmx512m -XX:MaxNewSize=256m -XX:MaxPermSize=256m</code>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-type="startJConsole" lay-submit="submit">启动
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">行权限级别</label>
              <div class="layui-input-block">
                <input type="radio" name="rowPrivilegeLevel" value="org" title="机构">
                <input type="radio" name="rowPrivilegeLevel" value="rol" title="角色">
                <input type="radio" name="rowPrivilegeLevel" value="usr" title="用户">
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-type="saveRowPrivilege" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'form'], function() {
    var $ = layui.jquery,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search);

    console.log($('.mycuckoo-main'))
    $('.mycuckoo-main').height($(window).height() - 90);

    var FormMgr = function() {
      this.reload();

      var formMgr = this;
      //监听提交
      form.on('submit', function(data) {
        var type = $(this).data('type');
        formMgr[type] && formMgr[type](data.field);

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      reload() {
        $.get(api.systemConfigMgr.url).then(json => {
          form.val('editForm', json.data);

          var $select = $('select[name=systemMgr]');
          $select.empty();

          for (var i = 0; i < json.data.systemMgr.length; i++) {
            var item = json.data.systemMgr[i];
            $select.append('<option value="' + item + '">' + item + '</option>');
          }
          form.render('select');
        });
      },

      // 系统名称设置
      saveName(data) {
        $.put(api.systemConfigMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.reload();
        });
      },
      //选择管理员
      selectAdmin(userAddDelFlag) {
        MyCuckoo.dialog('选择用户', 'systemConfigMgrSelectUser.html?userAddDelFlag=' + userAddDelFlag);
      },
      addAdmin(data) {
        this.selectAdmin('add');
      },
      delAdmin(data) {
        this.selectAdmin('delete');
      },
      // 系统日志级别设置
      saveLogLevel(data) {
        $.put(api.systemConfigMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.reload();
        });
      },
      // 系统日志保留天数设置
      saveLogKeepDays(data) {
        $.put(api.systemConfigMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.reload();
        });
      },
      // 系统监控设置
      startJConsole(data) {
        $.post(api.systemConfigMgr.startJConsoleUrl, {}).then(json => {
          MyCuckoo.msg({msg: json.data});
        });
      },
      // 系统行权限设置
      saveRowPrivilege(data) {
        $.put(api.systemConfigMgr.url, data).then(json => {
          MyCuckoo.msg({msg: json.data});

          this.reload();
        });
      },
    }

    new FormMgr();
    //the end
  });
</script>
</html>