<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统平台</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.8/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-site-nav">
    <span class="layui-breadcrumb">
      <a href="javascript:;">我的桌面</a>
      <a><cite>系统参数</cite></a>
    </span>
  <span class="right">
      <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
      </a>
    </span>
</div>

<div class="mycuckoo-main">
  <div class="layui-row">
    <form class="layui-col-md12 layui-form mycuckoo-search">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input class="layui-input" name="q[name]" placeholder="参数名称">
        </div>
        <div class="layui-input-inline">
          <input class="layui-input" name="q[key]" placeholder="参数键">
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" lay-filter="search" lay-submit>
            <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <table id="ID_table" class="layui-hide" lay-filter="table"></table>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.8/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_toolbar">
  <div class="layui-btn-group btn-toolbar">
    {{# layui.each(d.operator, function(index, item){ }}
    <button class="layui-btn layui-btn-sm" lay-event="{{ item.code }}">
      <i class="layui-icon layui-icon-{{ item.iconCls }}"></i> {{ item.name }}
    </button>
    {{# }); }}
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'form', 'table'], function() {
    var $ = layui.jquery,
      form = layui.form,
      table = layui.table;

    //本地缓存数据
    var queryObj = MyCuckoo.getQueryObject(location.search);
    var operator = MyCuckoo.getOperation(queryObj.id);

    table.render({
      id: 'table',
      elem: '#ID_table',
      url: api.systemParameterMgr.url,
      method: 'get',
      cellMinWidth: 100,
      height: MyCuckoo.tableHeight,
      toolbar: '#ID_toolbar',
      operator: operator,
      cols: [[
        {type: 'numbers'},
        {type: 'radio'},
        {field: 'name', title: '参数名称'},
        {field: 'key', title: '参数键名称'},
        {field: 'value', title: '参数键值'},
        {field: 'type', title: '系统类别',
            templet: function(d) {
              if(d.type == 'platform') {
                return '系统平台';
              } else if(d.type == 'uum') {
                return '统一用户';
              }
            }
        },
        {field: 'status', title: '状态',
          templet: function(d) {
            if(d.status == 'enable') {
              return '启用';
            } else if(d.status == 'disable') {
              return '停用';
            }
          }
        },
        {field: 'creator', title: '创建人'},
        {field: 'createTime', title: '创建日期', sort: true}
      ]],
      page: true,
      request: {
        pageName: 'pageNo',
        limitName: 'pageSize'
      },
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.message,
          count: res.data.totalElements,
          data: res.data.content
        }
      },
      done: function(res, curr, count) {
        new IndexMgr();
      }
    });

    var indexMgrInst = null;
    var IndexMgr = function () {
      if (indexMgrInst) { //实例已存在
        return;
      }
      var that = indexMgrInst = this;

      form.on('submit(search)', function (data) {
        //执行重载
        table.reload('table', {
          page: {pageNo: 1},
          where: data.field
        });

        return false;
      });

      table.on('toolbar(table)', function (obj) {
        if (obj.event.indexOf('LAYTABLE_') == 0) {
          return;
        }
        if (obj.event == 'add') {
          that[obj.event](obj);
          return;
        }

        var data = table.checkStatus(obj.config.id).data;
        if (data.length != 1) {
          MyCuckoo.alert({title: '提示', msg: '请选择一条记录'});
          return;
        }

        if (!that[obj.event]) {
          MyCuckoo.alert({title: '警示', msg: '此操作无效, 如有疑问, 请联系管理员!'});
          return;
        }

        obj.data = data[0];
        that[obj.event](obj);
      });
    }

    IndexMgr.prototype = {
      constructor: IndexMgr,
      reload: function() {
        table.reload('table', { page: { pageNo: 1 } });
      },
      //增加
      add: function(obj) {
        var url = MyCuckoo.resolve('systemParameterMgrForm.html?action={_event}&opt={_opt}',
            {'_event': obj.event, '_opt': queryObj.id})
        MyCuckoo.dialog('系统参数信息', url);
      },
      //修改
      modify: function(obj) {
        var data = obj.data;
        var url = MyCuckoo.resolve('systemParameterMgrForm.html?action={_event}&opt={_opt}&id={id}',
            {'_event': obj.event, '_opt': queryObj.id, 'id': data.paraId})
        MyCuckoo.dialog('系统参数信息', url);
      },
      //查看
      view: function(obj) {
        var data = obj.data;
        var url = MyCuckoo.resolve('systemParameterMgrForm.html?action={_event}&opt={_opt}&id={id}',
            {'_event': obj.event, '_opt': queryObj.id, 'id': data.paraId})
        MyCuckoo.sideDialog('系统参数信息', url);
      },
      //启用
      enable: function(data) {
        if(data.status == 'enable') {
          MyCuckoo.msg({ msg : '此参数已经启用' });
          return;
        }

        var that = this;
        $.put(api.systemParameterMgr.disEnableUrl, {id: data.paraId, disEnableFlag: 'enable'}).then(json => {
          MyCuckoo.msg({ msg: '参数启用成功' });

          that.reload(); // 刷新列表
        });
      },
      //停用
      disable: function(data) {
        if(data.status == 'disable') {
          MyCuckoo.alert({ title : '提示', msg : '此参数已经停用' });
          return;
        }

        var that = this;
        MyCuckoo.confirm({msg : '您确认停用此参数?', ok : function() {
          $.put(api.systemParameterMgr.disEnableUrl, {id: data.paraId, disEnableFlag: 'disable'}).then(json => {
            MyCuckoo.msg({ msg: '参数停用成功' });

            that.reload(); // 刷新列表
          });
        }});
      }
    }
    //the end

  });
</script>
</html>