<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统平台</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.13.5/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
  <style>
    html, body {
      height: 100%;
      overflow: hidden;
    }

    body {
      margin: 0;
    }

    .mycuckoo-main {
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
    }
  </style>
  <style>
    .radio-stack .layui-form-radio {
      display: block;
      margin: 6px 0;
    }
  </style>
</head>
<body>
<div class="mycuckoo-site-nav">
</div>

<div class="mycuckoo-main" style="overflow: auto">
  <div class="layui-row">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">系统名称</label>
              <div class="layui-input-inline">
                <input type="text" name="systemName" class="layui-input" lay-verify="required" maxlength="30" />
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="modify" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">管理员列表</label>
              <div class="layui-input-block">
                <select name="adminUsers"></select>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="addAdmin" lay-submit="submit">增加
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="delAdmin" lay-submit="submit">删除
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="layui-row">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">日志级别</label>
              <div class="layui-input-block radio-stack">
                <input type="radio" name="logLevel" value="1" title="增、删、改">
                <input type="radio" name="logLevel" value="2" title="删、改、其它">
                <input type="radio" name="logLevel" value="3" title="删、其它">
                <input type="radio" name="logLevel" value="0" title="关闭">
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="modify" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">保留天数</label>
              <div class="layui-input-block">
                <select name="logRetentionDays">
                  <option value="-1">不设置</option>
                  <option value="3">3天</option>
                  <option value="7">7天</option>
                  <option value="15">15天</option>
                  <option value="30">30天</option>
                  <option value="60">60天</option>
                  <option value="90">90天</option>
                  <option value="180">180天</option>
                  <option value="360">360天</option>
                </select>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="modify" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="layui-row">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">监控类型</label>
              <div class="layui-input-block">
                <input type="text" name="defaultJmxServer" class="layui-input" maxlength="20" />
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">JMX地址</label>
              <div class="layui-input-block">
                <input type="text" name="tomcatJmxUrl" class="layui-input" maxlength="200" />
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">对象名称</label>
              <div class="layui-input-block">
                <input type="text" name="tomcatMbeanName" class="layui-input" maxlength="200" />
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">监控说明</label>
              <div class="layui-input-block">
                <div class="layui-font-12">
                  <b>windows tomcat监控(Java 8+), 在catalina.bat加入:</b><br>
                  <code>set JAVA_HOME=你的JDK目录</code><br>
                  <code>set PATH=%PATH%;%JAVA_HOME%\bin</code><br>
                  <code>set JAVA_OPTS=%JAVA_OPTS% -Dcom.sun.management.jmxremote</code><br>
                  <code>set JAVA_OPTS=%JAVA_OPTS% -Dcom.sun.management.jmxremote.port=9999</code><br>
                  <code>set JAVA_OPTS=%JAVA_OPTS% -Dcom.sun.management.jmxremote.rmi.port=9999</code><br>
                  <code>set JAVA_OPTS=%JAVA_OPTS% -Djava.rmi.server.hostname=127.0.0.1</code><br>
                  <code>set JAVA_OPTS=%JAVA_OPTS% -Dcom.sun.management.jmxremote.ssl=false</code><br>
                  <code>set JAVA_OPTS=%JAVA_OPTS% -Dcom.sun.management.jmxremote.authenticate=false</code><br>
                  <code>set JAVA_OPTS=%JAVA_OPTS% -Xms512m -Xmx512m -XX:MetaspaceSize=128m -XX:MaxMetaspaceSize=256m</code><br>
                  <span>生产环境建议开启认证与SSL, 不建议直接暴露未鉴权JMX端口。</span>
                </div>
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="modify" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="startJConsole" lay-submit="submit">启动
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
          <form class="layui-form" lay-filter="editForm">
            <div class="layui-form-item">
              <label class="layui-form-label">行权限级别</label>
              <div class="layui-input-block radio-stack">
                <input type="radio" name="defaultRowPrivilegeLevel" value="org" title="机构">
                <input type="radio" name="defaultRowPrivilegeLevel" value="rol" title="角色">
                <input type="radio" name="defaultRowPrivilegeLevel" value="usr" title="用户">
              </div>
            </div>

            <div class="layui-form-item">
              <div class="layui-input-block">
                <a href="javascript:" class="layui-btn layui-btn-sm" data-event="modify" lay-submit="submit">设置
                  <i class="layui-icon glyphicon-hdd"></i>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.13.5/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.use(['jquery', 'form'], function() {
    const $ = layui.jquery,
      form = layui.form,
      queryObj = MyCuckoo.getQueryObject(location.search);

    const resources = MyCuckoo.getResource(queryObj.reskey);
    const resourceMap = MyCuckoo.getDictMap(resources);
    const resourceObj = MyCuckoo.getMainResource(resources);

    $main = $('.mycuckoo-main');
    $main.height($(window).height() - 90);

    const FormMgr = function() {
      this.reload();

      const that = this;
      //监听提交
      form.on('submit', function(data) {
        let event = $(this).data('event');
        that[event] && that[event]({event: event, data: data.field});

        return false;
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      reload() {
        $.request(resourceObj).then(json => {
          form.val('editForm', json.data);

          let $select = $main.find('select[name=adminUsers]');
          $select.empty();

          for (let i = 0; i < json.data.adminUsers.length; i++) {
            let item = json.data.adminUsers[i];
            $select.append('<option value="' + item + '">' + item + '</option>');
          }
          form.render();
        });
      },

      //设置
      modify(obj) {
        $.request(resourceMap['res:systemConfigMgr:modify'], obj.data).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.reload();
        });
      },
      addAdmin(obj) {
        this.selectAdmin('add');
      },
      delAdmin(obj) {
        this.selectAdmin('delete');
      },
      //选择管理员
      selectAdmin(userAddDelFlag) {
        let url = MyCuckoo.resolve('systemConfigMgrAssignUser.html?reskey={reskey}&action=res:systemConfigMgr:modify&q[userAddDelFlag]={flag}',
          { ...queryObj, 'flag': userAddDelFlag})
        MyCuckoo.dialog('选择用户', url);
      },
      // 系统监控设置
      startJConsole(obj) {
        $.request(resourceMap['res:systemConfigMgr:' +  obj.event], {}).then(json => {
          MyCuckoo.msg({msg: json.msg});
        });
      },
    }

    new FormMgr();
    //the end
  });
</script>
</html>
