<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>选择用户</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.13.5/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-main">
  <div class="layui-row layui-hide">
    <form class="layui-col-md12 layui-form mycuckoo-search">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input class="layui-input" name="q[code]" placeholder="用户号">
        </div>
        <div class="layui-input-inline">
          <input class="layui-input" name="q[name]" placeholder="用户名">
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" lay-filter="search" lay-submit>
            <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <table id="ID_table" class="layui-hide" lay-filter="table"></table>

  <form class="layui-form">
    <div class="layui-btn-container" style="margin-bottom: 6px; text-align: center;">
      <a href="javascript:" class="layui-btn layui-btn-sm" data-event="save" lay-submit="submit">
        <i class="layui-icon layui-icon-ok"></i>保存
      </a>
      <a href="javascript:" class="layui-btn layui-btn-sm" data-event="close">
        <i class="layui-icon layui-icon-close"></i>取消
      </a>
    </div>
  </form>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.13.5/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.bundle.js" charset="UTF-8"></script>
<script type="text/javascript">
  layui.use(['jquery', 'form', 'table'], function() {
    const $ = layui.jquery,
      form = layui.form,
      table = layui.table,
      queryObj = MyCuckoo.getQueryObject(location.search),
      resources = MyCuckoo.getResource(queryObj.reskey),
      resourceMap = MyCuckoo.getDictMap(resources),
      resourceObj = resourceMap[queryObj.action];

    table.render({
      id: 'table',
      elem: '#ID_table',
      url: MyCuckoo.api.getUrl(resourceMap[MyCuckoo.res.systemConfigMgr.selector]),
      method: 'get',
      cellMinWidth: 100,
      cols: [[
        {type: 'numbers'},
        {type: 'radio'},
        {field: 'account', title: 'text', title: '账号'},
        {field: 'loginTime', title: '最近登录时间'}
      ]],
      where: queryObj,
      page: true,
      request: {
        pageName: 'pageNo',
        limitName: 'pageSize'
      },
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.msg,
          count: res.data.totalElements,
          data: res.data.content
        }
      }
    });

    const FormMgr = function() {
      form.on('submit(search)', function(data) {
        table.reload('table', {
          page: {pageNo: 1},
          where: $.extend({}, data.field, {'q[userAddDelFlag]': 'add'})
        });

        return false;
      });

      if(queryObj['q[userAddDelFlag]'] == 'add') {
        $('.mycuckoo-search').parent().removeClass('layui-hide');
      }

      const that = this;
      //操作按钮触发事件
      $('form a.layui-btn').on('click', function() {
        let event = $(this).data('event');
        that[event] && that[event]({elem: this});
      });
    }

    FormMgr.prototype = {
      constructor: FormMgr,
      save: function(obj) {
        let data = table.checkStatus('table').data;
        if(data.length == 0) {
          MyCuckoo.alert({title: '提示', msg: '请选择一条或多条记录!'});
          return;
        }

        let codes = [];
        data.forEach(item => {
          codes.push(item.account);
        });
        let params = {'userAddDelFlag': queryObj['q[userAddDelFlag]'], systemMgr : codes};
        $.request(resourceObj, params).then(json => {
          MyCuckoo.msg({msg: json.msg});

          this.refresh();
        });
      },
      //刷新父窗
      refresh: function() {
        setTimeout(function() {
          parent.location.reload();
        }, 1500);
      },
      //关闭当前iframe页
      close: function() {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
      }
    }

    new FormMgr();
    // the end
  });
</script>