<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统平台</title>
  <link type="image/x-icon" href="../../static/images/favicon.ico" rel="shortcut icon" />
  <link type="text/css" href="../../static/layui/2.9.13/css/layui.css" rel="stylesheet" />
  <link type="text/css" href="../../static/css/mycuckoo.css" rel="stylesheet" />
</head>
<body>
<div class="mycuckoo-site-nav">
    <span class="layui-breadcrumb">
      <a href="javascript:;">我的桌面</a>
      <a><cite>系统日志</cite></a>
    </span>
  <span class="right">
      <a class="layui-btn layui-btn-sm" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon layui-icon-refresh"></i>
      </a>
    </span>
</div>

<div class="mycuckoo-main">
  <div class="layui-row">
    <form class="layui-col-md12 layui-form mycuckoo-search">
      <div class="layui-inline">
        <div class="layui-input-inline">
          <input class="layui-input" name="q[modName]" placeholder="操作模块名">
        </div>
        <div class="layui-input-inline">
          <input class="layui-input" name="q[name]" placeholder="操作名">
        </div>
        <div class="layui-input-inline">
          <input class="layui-input" name="q[userName]" placeholder="操作人姓名">
        </div>
        <div class="layui-input-inline">
          <button class="layui-btn" lay-filter="search" lay-submit>
            <i class="layui-icon">&#xe615;</i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <table id="ID_table" class="layui-hide" lay-filter="table"></table>
</div>
</body>
<script type="text/javascript" src="../../static/layui/2.9.13/layui.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.js" charset="UTF-8"></script>
<script type="text/javascript" src="../../static/mycuckoo.api.js" charset="UTF-8"></script>
<script type="text/html" id="ID_toolbar">
  <div class="layui-btn-group btn-toolbar">
    {{# layui.each(d.operator, function(index, item) {
      if ((item.group & 2) !== 2) return;
    }}
    <button class="layui-btn layui-btn-sm" lay-event="{{ item.code }}">
      <i class="layui-icon layui-icon-{{ item.iconCls }}"></i> {{ item.name }}
    </button>
    {{# }); }}
  </div>
</script>
<script type="text/javascript">
  layui.config({
    base: '../../static/extend/',
    version: '101100'
  });

  layui.use(['jquery', 'form', 'table'], function() {
    var $ = layui.jquery,
      form = layui.form,
      table = layui.table;

    //本地缓存数据
    var queryObj = MyCuckoo.getQueryObject(location.search);
    var operator = MyCuckoo.getOperation(queryObj.id);
    var operatorMap = MyCuckoo.getDictMap(operator);
    var action = operator.findLast(o => (o['group'] & 1) === 1);

    table.render({
      id: 'table',
      elem: '#ID_table',
      url: MyCuckoo.api.host + action.path,
      method: action.method,
      cellMinWidth: 100,
      height: MyCuckoo.tableHeight,
      toolbar: '#ID_toolbar',
      operator: operator,
      cols: [[
        {type: 'numbers'},
        {type: 'radio'},
        {field: 'modName', title: '操作模块名'},
        {field: 'name', title: '操作名'},
        {field: 'busiId', title: '业务数据ID'},
        {field: 'host', title: '计算机名称'},
        {field: 'ip', title: '计算机IP'},
        {field: 'userName', title: '操作人姓名'},
        {field: 'userRole', title: '操作人角色'},
        {field: 'userOrgan', title: '操作人机构'},
        {field: 'createTime', title: '操作时间', sort: true}
      ]],
      page: true,
      request: {
        pageName: 'pageNo',
        limitName: 'pageSize'
      },
      parseData: function(res) {
        return {
          code: res.code,
          msg: res.msg,
          count: res.data.totalElements,
          data: res.data.content
        }
      },
      done: function(res, curr, count) {
        new IndexMgr();
      }
    });

    var indexMgrInst = null;
    var IndexMgr = function () {
      if (indexMgrInst) { //实例已存在
        return;
      }
      var that = indexMgrInst = this;

      form.on('submit(search)', function(data) {
        //执行重载
        table.reload('table', {
          page: {pageNo: 1},
          where: data.field
        });

        return false;
      });

      table.on('toolbar(table)', function (obj) {
        if (obj.event.indexOf('LAYTABLE_') == 0) {
          return;
        }

        var data = table.checkStatus(obj.config.id).data;
        if (data.length != 1) {
          MyCuckoo.alert({title: '提示', msg: '请选择一条记录'});
          return;
        }

        obj.data = data[0]
        that['execute'](obj);
      });
    }

    IndexMgr.prototype = {
      constructor: IndexMgr,
      execute: function(obj) {
        var arr = obj.event.split(':');
        var event = arr[arr.length - 1];

        if (!this[event]) {
          MyCuckoo.alert({title : '警示', msg : '此操作无效, 如有疑问, 请联系管理员!' });
          return;
        }

        this[event](obj);
      },
      //查看
      view(obj) {
        var data = obj.data;
        $.request(operatorMap[obj.event], {id: data.optId}).then(json => {
          MyCuckoo.msg({title : '日志内容查看', msg : json.data });
        });
      },
    }
    //the end

  });
</script>
</html>
