<!DOCTYPE html>
<html>
<head>
  <title>404 - 页面不存在</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  <link rel="stylesheet" type="text/css" href="../static/css/error.css" media="screen" />
</head>
<body>
  <div id="container">
    <img class="png" src="../static/images/404.png" />
    <img class="png msg" src="../static/images/404-msg.png" />
    <p>
      <a href="/login">
        <img class="png" src="../static/images/404-to-index.png" />
      </a>
    </p>
  </div>
  <div id="cloud" class="png"></div>
  <pre style="DISPLAY: none"></pre>
</body>
</html>