<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>系统平台</title>
  <link type="image/x-icon" href="/static/images/favicon.ico" rel="shortcut icon" />
  <link href="/public/static/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="/public/static/ztree/3.5/css/metroStyle.css" type="text/css" rel="stylesheet" />
  <link href="/public/static/bootstrap-datetimepicker/master/css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
  <link href="/public/static/jquery-validation/1.10.0/css/jquery-validate.css" type="text/css" rel="stylesheet" />
  <link href="/public/static/css/dashboard.css" type="text/css" rel="stylesheet" />
  <link href="/public/static/webuploader/0.1.5/css/webuploader.css" type="text/css" rel="stylesheet" />
  <link href="/public/static/css/mycuckoo.css" type="text/css" rel="stylesheet" />
  <style type="text/css" >
    .photo-upload {position:relative; text-align:center;}
    .photo-upload .webuploader-container {position:relative;}
    .photo-upload .photo {position:relative; margin-bottom:5px;}
    .photo-upload .error {position:absolute; top:4px; left:4px; right:4px; background:red; color:white; text-align:center; height:20px; font-size:14px; line-height:23px;}
    .photo-upload .preview {margin-bottom:5px;}
    .photo-upload .progress {height:13px; margin-bottom:5px;}
  </style>
</head>
<body>
<div id="app">
  <view-header></view-header>
  <div class="mycuckoo-header"></div>
  <div class="container-fluid mycuckoo-container">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar mycuckoo-sidebar">
         <view-sidebar></view-sidebar>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main mycuckoo-main">

        <div id="welcome-page" class="active">
          <h1 class="page-header">MyCuckoo Main Page</h1>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="" data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200">
              <h4>1</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="" data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200">
              <h4>2</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="" data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="200x200">
              <h4>3</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="" data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="200x200">
              <h4>4</h4>
            </div>
          </div>
        </div>

        <router-view></router-view>

      </div>
    </div>
  </div>
</div>
</body>
<script src="/public/static/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
<script src="/public/static/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/public/static/ztree/3.5/js/ztree.core.min.js" type="text/javascript"></script>
<script src="/public/static/ztree/3.5/js/ztree.excheck.min.js" type="text/javascript"></script>
<script src="/public/static/webuploader/0.1.5/js/webuploader.js" type="text/javascript"></script>
<script src="/public/static/bootstrap-datetimepicker/master/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="/public/static/bootstrap-datetimepicker/master/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
<script src="/public/static/jquery-validation/1.10.0/js/jquery-validate.min.js" type="text/javascript"></script>
<script src="/public/static/jquery-validation/1.10.0/js/jquery-validate.additional_methods.min.js" type="text/javascript"></script>
<script src="/public/static/jquery-validation/1.10.0/js/jquery-validate.messages_bs_zh.js" type="text/javascript"></script>
<script src="/public/static/mycuckoo.js" type="text/javascript"></script>
<script src="/public/static/constants.js" type="text/javascript"></script>
<script src="/public/static/docs.js" type="text/javascript"></script>
<script src="/dist/build.index.js"></script>
</html>
