<link type="image/x-icon" href="/static/images/favicon.ico" rel="shortcut icon" />
<link href="/static/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="/static/ztree/3.5/css/zTreeStyle.css" type="text/css" rel="stylesheet" />
<link href="/static/css/dashboard.css" type="text/css" rel="stylesheet" />
<link href="/static/webuploader/0.1.5/css/webuploader.css" type="text/css" rel="stylesheet" />
<link href="/static/css/mycuckoo.css" type="text/css" rel="stylesheet" />
<style type="text/css" >
	.photo-upload {position:relative; text-align:center;}
	.photo-upload .webuploader-container {position:absolute; top:38px; left:11px;}
	.photo-upload .photo {position:relative; margin-bottom:5px;}
	.photo-upload .error {position:absolute; top:4px; left:4px; right:4px; background:red; color:white; text-align:center; height:20px; font-size:14px; line-height:23px;}
	.photo-upload .preview {margin-bottom:5px;}
	.photo-upload .progress {height:13px; margin-bottom:5px;}
</style>