<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>登陆界面</title>
  
  <link type="image/x-icon" href="/static/images/favicon.ico" rel="shortcut icon">
  <link href="/public//static/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="/public//static/css/login.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form name="signinForm" action="/login" method="post" class="form-horizontal form-signin">
          <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
              <h1 class="form-control-static">系统平台</h1>
            </div>
          </div>
          <div class="form-group has-feedback">
            <div class="col-md-4 col-md-offset-4">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user"></span>
                <input type="text" class="form-control" name="userCode" placeholder="用户" required autofocus/>
              </div>
            </div>
            <div class="col-md-4"><span class="text-danger hidden error">请输入用户名!</span></div>
          </div>
          <div class="form-group has-feedback">
            <div class="col-md-4 col-md-offset-4">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" name="password" placeholder="密码" required />
              </div>
            </div>
            <div class="col-md-4"><span class="text-danger hidden error">请输入密码!</span></div>
          </div>
          <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
              <input type="button" class="btn btn-primary btn-lg" 
                  name="signinBtn" value="&nbsp;&nbsp;&nbsp;登录&nbsp;&nbsp;&nbsp;" 
                  data-loading-text="登陆中..."/>
            </div>
          </div>
        </form>
      </div>
    </div>
    
    <div class="row role-pane" style="display: none;">
      
    </div>
    
  </div>
  <script src="/public//static/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
  <script src="/public//static/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/public//static/mycuckoo.js" type="text/javascript"></script>
  <script src="/public//static/mycuckoo.api.js" type="text/javascript"></script>
  <script type="text/javascript">
    jQuery(function($) {
      $.ajaxSetup({
        type: 'POST',
        dataType: 'json',
        xhrFields: { withCredentials: true },
      });
      
      var $bground = $('<div class="background"></div>');
      var $signinForm = $('form[name=signinForm]');
      var $userCode = $signinForm.find('input[name=userCode]');
      var $password = $signinForm.find('input[name=password]');
      var $helpText = $signinForm.find('.text-danger');
      var $signinBtn = $signinForm.find('input[name=signinBtn]');
      var $rolePane = $('.role-pane');
      
      
      $signinBtn.button('reset');
      
      // 用户改变事件
      $userCode.on('blur', function() {
        if (!$(this).val()) {
          $helpText.eq(0).removeClass('hidden');
        } else {
          $helpText.eq(0).addClass('hidden');
        }
      });
      // 密码改变事件
      $password.on('blur', function() {
        if (!$(this).val()) {
          $helpText.eq(1).removeClass('hidden');
        } else {
          $helpText.eq(1).addClass('hidden');
        }
      });
      
      // 登陆
      $signinBtn.on('click', function(e) {
        if (!$userCode.val()) {
          $userCode.focus();
        } else if (!$password.val()) {
          $password.focus();
        } else {
          preLogin();
        }
      });
      // 捕获enter
      $signinForm.on('keyup', function(e) {
        switch(e.keyCode) {
        case 13 :
          if (!$userCode.val()) {
            $userCode.focus();
          } else if (!$password.val()) {
            $password.focus();
          } else {
            preLogin();
          }
          break;
        }
      });
      
      var preLogin = function() {
        $signinBtn.button('loading');
        $bground.appendTo(($('body')));
        MyCuckoo.showMsg({state: 'info', title: '提示', msg: ' 预登录中,请稍候... '});
        var userCode = $userCode.val();
        var password = $password.val();
        var params = {
            userCode: userCode, 
            password: password
        }
        $.post(mycuckoo.login.firstStepUrl, params, function(json) {
          if(json.code != 0) {
            loginError(json.code, json.msg);
            $bground.remove();
            $signinBtn.button('reset');
            return;
          }
          
          // 角色列表
          if(json.data.roles) {
            for(var i = 0, len = json.data.roles.length; i < len; i++) {
              var roleUser = json.data.roles[i];
              if(roleUser.isDefault == 'Y') {
                roleUser.roleName = roleUser.organName + ' - ' + roleUser.roleName + '(默认)';
              } else {
                roleUser.roleName = roleUser.organName + ' - ' + roleUser.roleName;
              }
              $('<div class="col-sm-6 col-md-3">'
                + '  <div class="thumbnail">'
                + '    <div class="caption">'
                + '      <h3>' + roleUser.roleName + '</h3>'
                + '    </div>'
                + '  </div>'
                + '</div>')
                .data(roleUser)
                .on('click', function() {
                    loginSys($(this).data(), null);
                 }).appendTo($rolePane);
            }
          }
          
          // 用户代理列表
          if(json.data.agents) {
            for(var i = 0, len = json.data.agents.length; i < len; i++) {
              var agent = json.data.agents[i];
              $('<div class="col-sm-6 col-md-3">'
                  + '  <div class="thumbnail">'
                  + '    <div class="caption">'
                  + '      <h3>' + agent.userName + '(代理)</h3>'
                  + '    </div>'
                  + '  </div>'
                  + '</div>')
                  .data(agent)
                  .on('click', function() {
                    loginSys(null, $(this).data());
                  })
                  .appendTo($rolePane);
            }
          }
          
          $signinForm.hide();
          $rolePane.show();
        }, 'json').always(function() {
          setTimeout(function() { 
            $bground.remove();
            $signinBtn.button('reset');
          }, 1000);
        });
      };
      
      var loginSys = function(role, agent) {
        $.ajax({
          url: mycuckoo.login.secondStepUrl,
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify({role: role, agent: agent}),
          success: function(json) {
            var code = json.code;
            var msg = json.msg;
            if(code != 0) {
              loginError(code, msg);
            } else {
              window.location = '/view/index.html';
            }
          } 
        }).always(function() {
          setTimeout(function() { 
            
          }, 2000);
        });
      };
      
      var loginError = function(code, msg) {
        switch(code) {
        case 1:
          msg = '对不起,您输入的用户名或密码有误!';
          break;
        case 2:
          msg = '对不起,当前用户没有使用系统的权限,或请联系系统管理员!';
          break;
        case 3:
          msg = '对不起,当前用户已被停用,或请联系系统管理员!';
          break;
        case 4:
          msg = '对不起,当前用户已过有效期,或请联系系统管理员!';
          break;
        }
        MyCuckoo.showMsg({state: 'info', title: '提示', msg: msg});
      };
      
    });
  </script>
</body>
</html>